<div class="container-fluid">
<p class="validationTips"></p>
<form>
	<div class="row">
		<div class="col-lg-6">
			
				
			<input type="hidden" id="newEvId" value="" />
			<input type="hidden" id="scId" value=""/>
				
			<div class="form-group">
				<label id="txtEvTitleLabel" for="name">Name of Event: </label><br/> 
				<input id="txtEvTitle" type="text" class="form-control" value="change me"  readonly="readonly" /></div><br/>
				<label for="date">Date of Event: </label><br/>
				<input id="evDate" type="text" class="form-control" readonly="readonly" /><br/>
				<label id="evSrvClientLabel" for="organization">Sponsor: </label><br/>
				<input id= "evSrvClient" class="form-control" disabled="disabled"/><br/> 
				<div class="form-group border rounded">
					<div id="evContactDiv" class="small">
						<span id="ct-fname"></span> <span id="ct-lname"></span>
						<br/><span id="ct-email"></span>
						<br/><span id="ct-street"></span>
						<br/><span id="ct-city"> </span>, <span id="ct-state"></span> <span id="ct-zip"></span>
						<br/><span id="ct-phone1"></span>
						<br/><span id="ct-phone2"></span>
					</div>
				</div>
		</div>

		<div class="col-lg-6">
			<div class="form-group">
				<label for="hours">Hours Served: </label><br/> 
				<input id="hrsSrvd" type="text" class="form-control" /><br/>
				
				<label for="contact-name">Contact Name: </label><br/> 
				<input id="contact-name"
					type="text" class="form-control" value="Johanna Smith" placeholder="contact name"/><br/>
				<label for="contact-contact">Contact Phone Number/Email: </label><br/> <input
					type="text" class="form-control" id="contact-contact" name="contact" placeholder="phone number or email" /><br/>
				
				<label for="description">Description of Service: </label><br/>
				<textarea class="form-control" rows="3" id="description"></textarea>
				<label for="reflection" style="padding-top:10px">Reflection:</label><br/>
				<textarea class="form-control" rows="4" id="reflection"></textarea>
			</div>
		</div>
	</div>
	</form>
</div>

