<!DOCTYPE html>
<#import "/main_layout.html" as layout/>

<@layout.stdpage "Add Service Hours" >
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="styleSheet" href="css_style/addHoursStyle.css" type="text/css">
		<title>Add Service Hours</title>
	    <h1>Log Service Hours</h1>
	</head>
	<body>	
	  <div class="container">
		<label id="topnav">Enter Hours:</label><br>
		<input value="EX: 3.5">
		<label for="fname"> hours</label><br>
		<label id="topnav">Enter Organization:</label><br>
		<input value="EX: Habitat for Humanity"><br>
		<input type="submit" value="Submit">
	  </div>
	</body>		
			
		
		
		
		


</html>

</@layout.stdpage>