<!DOCTYPE html>
<#import "/main_layout.html" as layout/>

<@layout.stdpage "Add Service Hours" >
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="styleSheet" href="css_style/addHoursStyle.css" type="text/css">
		<title>Add Service Hours</title>
	    <h1>Log Service Hours</h1>
	</head>
	<body>	
	  <div class="container-fluid">
	   <div class="row">
	    <div class="col-md-7">
	     <div class="form-group">
		   <label for="date">Date of Event: </label><br>
		   <input type="date" class="form-control" id="date" value="mm/dd/yyyy">
		   <label for="hours">Hours Served: </label><br>
		   <input type="text" value="EX: 3.5"><br>
	     </div>
	    </div>
	    <div class="col-md-5">
	     <div class="form-group">
		   <label for="location">Address: </label><br>
		   <input type="text" value="123 Ln"><br>
		   <label for="zip">Zip Code: </label><br>
		   <input type="text" value="23456"><br>
		   <label for="city">City: </label><br>
		   <input type="text" value=" "><br>
		   <label for="state">State: </label><br>
		   <input type="text" value=" "><br>
		   <input id="submit" type="submit" value="Submit">
		 </div>
		</div>
	  </div>
	 </div>
	</body>		
			
		
	


</html>

</@layout.stdpage>