<tr id="row${shid?c}">
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_id'>${shid!"UNKOWN"}</td>
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_eventName'>${title!"UNKNOWN"}</td>
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_sponsor'>${name!"UNKNOWN"}</td>
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_date'>${date?string["MMM d, yyyy h:mm a"]}</td>
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_hrsServed'>${hours!"UNKNOWN"}</td>
	<td class='hrRow' onRowClick="${shid?c}" name='hrs_status'>${status!"UNKNOWN"}</td>
	
	<!-- action buttons: edit/delete -->
	<td class="hrActions">
		<#if status != "Approved">
			<button type="button" class="btnHrEdit edit btn" onEditClick="${shid?c}">
				<i class="fas fa-pencil-alt"></i> 
			</button>
			<button type="button" class=" btnHrDel del btn" onDelClick="${shid?c}">
				<i class="fas fa-trash-alt"></i>  
			</button>
		</#if>
	</td>
</tr>