<div class="container-fluid">
<p class="validationTips"></p>
<form>
		
	<p id="viewDlgHrStatus"></p>
		
	<div class="row">
	
			
				
			<input type="hidden" id="viewDlgEvId" value="" />
			<input type="hidden" id="viewDlgScId" value=""/>
				
		
				<label for="name"><b>Name of Event: </b></label><br/> 
				<input id="viewDlgTxtEvTitle" type="text" class="form-control-plaintext" value="change me"  readonly="readonly" /><br/>
				<label for="date"><b>Date of Event: </b></label><br/>
				<input id="viewDlgEvDate" type="text" class="form-control-plaintext" readonly="readonly" /><br/>
				<label for="hours"><b>Hours Served: </b></label><br/> 
				<input id="viewDlgHrsSrvd" type="text" class="form-control-plaintext"/><br/>
		
		
		
				<label for="location"><b>Address: </b></label><br/>
				<input id="viewDlgAddress" type="text"	class="form-control-plaintext" value="1235 Left Ln"  readonly="readonly"/><br/> 
				<label for="viewDlgCity"><b>City: </b></label><br/> 
				<input id= "viewDlgCity" type="text" class="form-control-plaintext" value="Sherman"  readonly="readonly"/><br/> 
					<label for="viewDlgState"><b>State: </b></label><br/> 
				<input id="viewDlgState" type="text" class="form-control-plaintext" value="TX"  readonly="readonly"/><br/>
				
				<label for="zip"><b>Zip Code: </b></label><br/> 
				<input id="viewDlgZip-code" type="text" class="form-control-plaintext" value="23456"  readonly="readonly"/><br/>
			<label id="viewDlgFeedbackLabel" for="viewDlgFeedback" style="padding-top:10px"><b>Feedback:</b></label><br/>
				<textarea class="form-control-plaintext" rows="4" id="viewDlgFeedback"></textarea>
				
		
			<label for="organization"><b>Sponsor: </b></label><br/>
				<input id= "viewDlgEvSrvClient" class="form-control-plaintext" disabled="disabled"/><br/> 
				
		
		
				<label for="viewDlgContact-name"><b>Contact Name: </b></label><br/> 
				<input id="viewDlgContact-name" type="text" class="form-control-plaintext" value="Johanna Smith"  readonly="readonly"/><br/>
				<label for="viewDlgContact-contact"><b>Contact Phone Number/Email: </b></label><br/> 
				<input type="text" class="form-control-plaintext" id="viewDlgContact-contact" value="phone number or email"  readonly="readonly"/><br/>
				
				<label for="viewDlgDescription"><b>Description of Event: </b></label><br/>
				<textarea class="form-control-plaintext" rows="3" id="viewDlgDescription"></textarea>
				<label for="viewDlgReflection" style="padding-top:10px"><b>Reflection:</b></label><br/>
				<textarea class="form-control-plaintext" rows="4" id="viewDlgReflection"></textarea>
			
	
	</div>
	</form>
</div>