<!DOCTYPE html>
<#import "/main_layout.html" as layout />

<@layout.stdpage "Hours Served" >
<html>
<head>
<meta charset="UTF-8">
<link rel="styleSheet" href="css_style/hoursStyle.css" type="text/css">
<title>Hours Served</title>
</head>
</body>
<!--  this container holds onto all information regarding Stats
and has the button as well located at the bottom -->
<div class="container-statsBackground">
	<div class="container-statsHeadTextBackground">Statistics</div>

	<div class="container-Stats">
		<p>Currently you have served 15 hours total with 5 hours pending
			approval</p>
	</div>

	<!-- Buttons that will either lead to the user profile,
	or ask the to enter their service hours -->

	<div class="container-buttonArea">
		<button type="button">Enter Hours</button>
		<button type="button">View Profile</button>
	</div>

</div>


<!-- a container for the table container
	will be used for background colors eventually  -->
<div class="container-tableBackground">
	<div class="container-textHeading">Service Hours</div>
	<!-- container thats creating a table that will hold our data-->
	<div class="container-tables">
		<div Id="table" class="row">
			<table>
				<tr>
					<th>Pending Approval</th>
					<th>Approved Hours</th>
					<th>Rejected Hours</th>
				</tr>
				<tr>
					<td>Spending time with Toys for tots</td>
					<td>Food House</td>
					<td>Picking up the trash</td>
				</tr>
				<tr>
					<td>Teaching part time</td>
					<td>Build house with Salvation Army</td>
					<td>Show and Tell</td>
				</tr>
				<tr>
					<td>Working with food house</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Volunteering at service station</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>


	</div>
</div>
</html>
</@layout.stdpage>
