<#import "/main_layout.html" as layout />
<!-- CSS style for jquery widgets -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<@layout.stdpage "Hours Served" "hoursStyle.css"
"hours/servantHrsList.js">

<div>
	<div class="row" style="padding-left: 30px; padding-bottom: 30px">
			<!--  this container holds onto all information regarding Stats
		and has the button as well located at the bottom -->
			<div>
				<div>
				<!-- TODO To be replaced with live servant Name -->
					<h1>Welcome, Servant</h1>
					<h2>Service Stats</h2>
				</div>
					<div class="container-tableBackground">
						<!-- container thats creating a table that will hold our data-->
						<div class="container ui-widget">
							<div Id="table" class="row">
								<table
									class="table table-striped ui-widget ui-widget-content table-bordered table-hover">
									<thead>
										<tr class="ui-widget-header">
											<th>Hours Served</th>
											<th class="wtTh">15</th>
											<th>Organizations Helped</th>
											<th class="wtTh">2</th>
											
										</tr>

									</thead>
								</table>
							</div>
						</div>
					</div>

				<!-- Button that prompts the user to enter their service hours -->
				<div id="addBtnContainer" style="padding-top: 10px">
					<!-- Button that takes you to add hours page -->
					<a href="addHours" class="btn btn-md btn-dark addBtn"> <span
						class="	fas fa-plus-circle"></span> Add hours
					</a>
				</div>
			</div>
	</div>
	<div class="row" style="padding-left: 30px; padding-bottom: 20px">
		<!-- BIG credit to Lydia for the most of the elements in this table, and for making the style -->
		<!-- a container for the table container
			will be used for background colors eventually  -->
		<div class="container-tableBackground">
			<div>
				<h1>Service Hours</h1>
			</div>
			<!-- container thats creating a table that will hold our data-->
			<div class="container ui-widget table-responsive">
				<div Id="table" class="row">
					<table id="hrs_tbl"
						class="table table-striped ui-widget ui-widget-content table-bordered table-hover">
						<thead>
							<tr class="ui-widget-header">
								<th>ID</th>
								<th>Service Event</th>
								<th>Hours Served</th>
								<th>Status</th>
								<th colspan='2'>Edit/Delete</th>
							</tr>
						</thead>
						<tbody id="hrs_tbl_body">
							<#if hours??>
								<#list hours as hrs>
									<tr id="row${hrs.shid?c}">
									<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_id'>${hrs.shid!"UNKOWN"}</td>
									<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_eventName'>${hrs.eventName.title!"UNKNOWN"}</td>
									<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_hrsServed'>${hrs.hours!"UNKNOWN"}</td>
									<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_status'>${hrs.status!"UNKNOWN"}</td>
									<td>
										<!-- Buttons to open edit/delete hours dialog  -->
										<button type="button" class="edit btn" onEditClick="${hrs.shid?c}">
											<span class="fas fa-pencil-alt"></span> 
						  					Edit
										</button>
									</td>
									<td>
				   						 <button type="button" class="del btn" onDelClick="${hrs.shid?c}">
											<span class="fas fa-trash-alt"></span>  
						  					Delete 
										</button>
									</td>
								</tr>
							</#list>
							</#if>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- The div below defines the delete dialog for deleting a served hour which is hidden by JS and exposed by JQ. -->
<div id="delDlg" title="DELETE SELECTED HOURS" class="ui-widget delWid">
	<p id="del_confirm">
		<br>
		<br> <span id="delMsg1"></span> <br>
		<br> <span id="delMsg2"></span>
	</p>
</div>

<!--  The div below shows a modal view of the service hour information (contact, date, etc) when the row was selected -->
<div id="hrInfoDlg" title="Service Hour Information" class="ui-widget">
	<div class="container">
		<div class="row">
			<div class='form-group'>

				<div class='row'>
					<div class='col'>
						<h5>
							<b>Event Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class="row">
					<div class='col'>
						<label for="hrInfoDlg_eventName"><b>Name of Event:</b></label> <input
							type="text" id="hrInfoDlg_eventName" value=${eventName!
							"UNKNOWN"} readonly size="30">
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_date"><b>Date of Event
								(mm/dd/yy):</b></label> <input type='text' id="hrInfoDlg_date"
							value="03/12/20" readonly size='10'>
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class="row">
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_org"><b>Organization:</b></label> <input
							type='text' id='hrInfoDlg_org' value="Meals on Wheels" } readonly
							size='30'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for='hrInfoDlg_hrsServed'><b>Hours Served:</b></label> <input
							type='text' id="hrInfoDlg_hrsServed" value=${hrsServed!
							"UNKNOWN"} readonly size='10'>

					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<label for="hrInfoDlg_desc"><b>Description of Event:</b></label> <input
							type='text' id="hrInfoDlg_desc" value="Did miscellaneous tasks."
							readonly size='80'>
					</div>
				</div>


				<div class='row'>
					<div class='col'>
						<h5>
							<b>Address Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_address"><b>Address:</b></label> <input
							type="text" id="hrInfoDlg_address" value="118 Main Street"
							readonly size='15'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_city"><b>City:</b></label> <input
							type="text" id="hrInfoDlg_city" value="Sherman" readonly
							size='15'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_zip"><b>Zip Code:</b></label> <input
							type="text" id="hrInfoDlg_zip" value="75090" readonly size='5'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_state"><b>State:</b></label> <input
							type="text" id="hrInfoDlg_state" value="TX" readonly size='5'>
					</div>
				</div>

				<div class='row'>
					<div class='col'>
						<h5>
							<b>Contact Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_contactName"><b>Contact's Name:</b></label>
						<input type="text" id="hrInfoDlg_contactName" value="Joe Smith"
							readonly>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_contactNumber"><b>Contact's
								Phone Number:</b></label> <input type="text" id="hrInfoDlg_contactNumber"
							value="903-331-1241" readonly size='15'>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="hrInfoDlg_contactEmail"><b>Contact's
								Email:</b></label> <input type="text" id="hrInfoDlg_contactEmail"
							value="randomEmail@gmail.com" readonly>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!--  The div below defines the edit dialog for updating a served hour which is hidden by JS and exposed by JQ. -->
<div id="editDlg" title="Edit Service Hour" class="ui-widget">
	<div class="container">
		<div class="row">
			<div class='form-group'>

				<div class='row'>
					<div class='col'>
						<h5>
							<b>Event Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class="row">
					<div class='col'>
						<label for="editDlg_eventName"><b>Name of Event:</b></label> <input
							type="text" id="editDlg_eventName" value=${eventName!
							"UNKNOWN"}  size="30">
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_date"><b>Date of Event (mm/dd/yy):</b></label>
						<input type='text' id="editDlg_date" value=${date!
							"03/12/20"}  size='10'>
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class="row">
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_org"><b>Organization:</b></label> <input
							type='text' id='editDlg_org' value=${org!
							"Meals_on_Wheels"}  size='30'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for='editDlg_hrsServed'><b>Hours Served:</b></label> <input
							type='text' id="editDlg_hrsServed" value=${hrsServed!
							"UNKNOWN"}  size='10'>

					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<label for="editDlg_desc"><b>Description of Event:</b></label> <input
							type='text' id="editDlg_desc" value=${desc!
							"Did_miscellaneous_tasks."} size='80'>
					</div>
				</div>


				<div class='row'>
					<div class='col'>
						<h5>
							<b>Address Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_address"><b>Address:</b></label> <input
							type="text" id="editDlg_address" value=${address! "118 Main
							Street"} size='15'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_city"><b>City:</b></label> <input type="text"
							id="editDlg_city" " value=${city! "Sherman"} size='15'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_zip"><b>Zip Code:</b></label> <input
							type="text" id="editDlg_zip" value=${zip! "75090"} size='5'>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_state"><b>State:</b></label> <input
							type="text" id="editDlg_state" value=${state! "TX"} size='5'>
					</div>
				</div>

				<div class='row'>
					<div class='col'>
						<h5>
							<b>Contact Information</b>
						</h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_contactName"><b>Contact's Name:</b></label> <input
							type="text" id="editDlg_contactName" value=${conName!"Joe_Smith"}>
					</div>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_contactNumber"><b>Contact's Phone
								Number:</b></label> <input type="text" id="editDlg_contactNumber"
							" value=${conNumber! "903-331-1241"} size='15'>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<!--  FOLLOWING IS HARD CODED IN FOR NOW -->
						<label for="editDlg_contactEmail"><b>Contact's Email:</b></label>
						<input type="text" id="editDlg_contactEmail" value=${conEmail!
							"randomEmail@gmail.com"}>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- JavaScript file that will allow us to use jquery widgets -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</@layout.stdpage>
