<!DOCTYPE html>
<#import "/main_layout.html" as layout />

<@layout.stdpage "Hours Served" >
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Hours Served</title>
</head>
<body>
	<p>
		this is the initial page; will be replaced shortly
	</p>
</body>
</html>
</@layout.stdpage>
