<#import "/main_layout.html" as layout />

<@layout.stdpage "Manage Events" "home.css" "events.js">

<div id="mainContainer" class="container">
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col-md">
			<h1>Manage Events</h1>
			<p>Please select the action you would like to take.</p>
		</div>
	</div>

	<!-- A  (TODO/MAKE LIVE) list (data-table) of all board members and co-chairs -->
	<!-- table title. -->
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col">
			<h2>Events</h2>
		</div>
	</div>

		<div class="row" style="padding-left: 20px; padding-bottom: 20px">
			<div class="col">
				<button id="btnEvNew" href="addHours"
					class="btn btn-md btn-dark addBtn">
					<span class="fas fa-plus-circle"></span> Create New
				</button>
			</div>
			
		
			
			<!-- Toggle button for filtering events before current date -->
			<div class="col-sm-2 text-right toggle" >
				<div class="custom-control custom-switch">
					<!-- Turns before toggle button on after page is reloaded as long as the no other toggles are not on -->
					<#if (lastMonthSelected == 0 && afterSelected == 0 && nextMonthSelected == 0) && beforeSelected == 1>
  						<input type="checkbox" class="custom-control-input" id="beforeToggle" onclick="location.href = location.href.split('?')[0];" checked> 						
  					<!-- Before toggle button is turned off when no other toggles are not on-->
  					<#elseif (lastMonthSelected == 0 && afterSelected == 0 && nextMonthSelected == 0) && beforeSelected == 0>
  						<input type="checkbox" class="custom-control-input" id="beforeToggle" onclick="location.href += '?before=now';">
					<!-- Disables toggle button when another toggle button is on -->
					<#else>
						<input type="checkbox" class="custom-control-input" id="beforeToggle" disabled>
  					</#if> 
  					<label class="custom-control-label" for="beforeToggle">Past Events</label>
				</div>
			</div>
						
			<!-- Toggle button for filtering events after current date -->
			<div class="col-sm-2 text-right toggle" >
				<div class="custom-control custom-switch">
					<!-- Turns after toggle button on after page is reloaded as long as the no other toggles are not on-->
					<#if (lastMonthSelected == 0 && beforeSelected == 0 && nextMonthSelected == 0) && afterSelected == 1>
  						<input type="checkbox" class="custom-control-input" id="afterToggle" onclick="location.href = location.href.split('?')[0];" checked>
  					<!-- After toggle button is turned off when no other toggles are not on-->
  					<#elseif (lastMonthSelected == 0 && beforeSelected == 0 && nextMonthSelected == 0) && afterSelected == 0>
  						<input type="checkbox" class="custom-control-input" id="afterToggle" onclick="location.href += '?after=now';">
  					<!-- Disables toggle button when another toggle button is on -->
  					<#else>
  						<input type="checkbox" class="custom-control-input" id="afterToggle" disabled>
  					</#if>
  					<label class="custom-control-label" for="afterToggle">Future Events</label>
				</div>
			</div>
			
		
		<!-- Toggle button for filtering events one month before current date -->
		<div class="col-sm-2 text-right toggle">
			<div class="custom-control custom-switch">
				<!-- Turns last month toggle button on after page is reloaded as long as the no other toggles are not on-->
				<#if (beforeSelected == 0 && afterSelected == 0 && nextMonthSelected == 0) && lastMonthSelected == 1>
					<input type="checkbox" class="custom-control-input" id="oneMonthBeforeToggle" onclick="location.href = location.href.split('?')[0];" checked>
  				<!-- Last month toggle button is turned off when no other toggles are not on-->		
				<#elseif (beforeSelected == 0 && afterSelected == 0 && nextMonthSelected == 0) && lastMonthSelected == 0>
					<input type="checkbox" class="custom-control-input" id="oneMonthBeforeToggle" onclick="location.href += '?before=now-1M';">
  				<!-- Disables last month toggle button when another toggle button is on -->
				<#else>
  					<input type="checkbox" class="custom-control-input" id="oneMonthBeforeToggle" disabled>
				</#if>		
					<label class="custom-control-label" for="oneMonthBeforeToggle">Last Month</label>
			</div>
		</div>
		

		
		<!-- Toggle button for filtering events one month after current date -->
		<div class="col-sm-2 text-right toggle" style="padding-right: 15px;">
			<div class="custom-control custom-switch">
				<!-- Turns next month toggle button on after page is reloaded as long as the no other toggles are not on-->
				<#if (beforeSelected == 0 && afterSelected == 0 && lastMonthSelected == 0) && nextMonthSelected == 1 >
					<input type="checkbox" class="custom-control-input" id="oneMonthAfterToggle" onclick="location.href = location.href.split('?')[0];" checked>
  				<!-- Next month toggle button is turned off when no other toggles are not on-->		
				<#elseif (beforeSelected == 0 && afterSelected == 0 && lastMonthSelected == 0) && nextMonthSelected == 0>
					<input type="checkbox" class="custom-control-input" id="oneMonthAfterToggle" onclick="location.href += '?before=now%2B1M';">
  				<!-- Disables next month toggle button when another toggle button is on -->
				<#else>
  					<input type="checkbox" class="custom-control-input" id="oneMonthAfterToggle" disabled>
				</#if>
				  <label class="custom-control-label" for="oneMonthAfterToggle">Next Month</label>
			</div>
		</div>
		</div>

	<div class="row" style="padding-left:100px;padding-bottom: 20px">
		
		<!-- Combo box for filtering events by event type -->
		<div class="col text-right comboBox">
			<label>By Event Type</label> 
			<select data-prev-selected="${selectedEtid}" onchange="if(this.value != 0) {location.href = location.href.split('?')[0] + '?eType='+this.value;} else {location.href = location.href.split('?')[0]}">
				<option value=0>List All</option>

				<#list evtypes as et>
					<#if et.etid == selectedEtid >
						<option value="${et.etid}" selected>(${et.name}) ${et.description}</option>
					<#else>
						<option value="${et.etid}">(${et.name}) ${et.description}</option>				
					</#if>
				</#list>
			</select>

		</div>
		
		<!-- Combo box for filtering events by service client -->
		<div class="col text-right comboBox">
			<label>By Service Client</label> 
			<select data-prev-selected="${selectedScid}" onchange="if(this.value != 0) {location.href = location.href.split('?')[0] + '?sc='+this.value;} else {location.href = location.href.split('?')[0]}">
				<option value=0>List All</option>
				
				<#list sClients as sc>
					<#if sc.scid == selectedScid>
						<option value="${sc.scid}" selected>${sc.name}</option>
					<#else>
						<option value="${sc.scid}">${sc.name}</option>
					</#if>					
				</#list>

			</select>


		</div>
		
		<!-- TODO needs functionality when dao support for board member -->
		<!-- Combo box for filtering events by board member -->
		<div class="col text-right comboBox">
			<label>By Board Member</label> 
			<select style="width:235px;">
				<option value=0>List All</option>
				<#list users as bm>
				<option value="${bm.uid}">${bm.contactInfo.firstName} ${bm.contactInfo.lastName}</option>
				</#list>

			</select>

		</div>
	</div>
	<div class="row text-right" style="padding-bottom: 20px">

	
		<!-- Clears all filters -->
		<div class="col">
			<button id="btnClearFilters" class="btn btn-md addBtn" type="button"
				onclick="location.href = location.href.split('?')[0];">
				Clear All Filters</button>
		</div>
	</div>


		<div class=col>

		<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col">

			<!-- Events table -->
			<table id="tblEvents"
				class="table table-striped table-bordered table-sm" cellspacing="0"
				width="100%">
				<thead>
					<!-- these columns are not final. If anyone thinks different information would be better
				feel free to change these -->
					<tr>
						<th class="th-sm">ID</th>
						<th class="th-sm">Title</th>
						<th class="th-sm">Type</th>
						<th class="th-sm">Contact</th>
						<th class="th-sm">Date</th>
						<th class="th-sm">Action</th>
					</tr>
				</thead>
				<tbody>
					<#if events??>
					<#list events as ev>
					<tr id="eid-${ev.eid?c}">
						<td class="ev_id">${ev.eid!"UNKNOWN"}</td>
						<td class="ev_title">${ev.title!"UNKNOWN"}</td>
						<td class="ev_type">${ev.type.name!"UNKNOWN"}</td>
						<td class="ev_contact" eid="${ev.eid?c}"><#if ev.contact??>
					${ev.contact.fullName()!"UNKNOWN"}
					<#else>
					None
					</#if>
					</td>
					<td class="ev_date">${ev.date?datetime}</td>

					<!--action buttons-->
					<td class="evActions">
						<button class="btn edit btnEvEdit" eid="${ev.eid?c}">
							<i class="fas fa-pencil-alt"></i>
						</button>
						<button class="btn edit btnEvView" eid="${ev.eid?c}">
							<i class="fas fa-search"></i>
						</button>
						<button class="btn edit btnEvDel" eid="${ev.eid?c}">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>

					</tr>
					</#list>
					</#if>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			</div>
			</div>
		</div>

		<!-- back button -->
		<div class="row" style="padding-left: 20px; padding-bottom: 20px">
			<a class="btn edit" href="/srv/home/admin"> <i
				class="icon-trash icon-large"></i> Back
			</a>
		</div>

	<!-- The div below defines the delete dialog.  It is hidden and exposed when needed -->
	<div id="dlgDelete" title="DELETE SELECTED EVENT"
		class="ui-widget delWid" style="display: none">
		<p id="del_confirm">
			Are you sure you want to delete this event? <br />
		</p>
		
		<div id="delEvId">id</div>
		<div id="delEvTitle">title</div>
		<div id="delEvDate">date</div>
		
	</div>

	<div id="dlgView" title="EVENT DETAILS" class="ui-widget"
		style="display: none">
		<p>Show event details here.</p>
	</div>

	<div id="dlgViewContact" title="CONTACT DETAILS" class="ui-widget"
		style="display: none">
		<p>Show event contact here.</p>
	</div>

	<div id="dlgNewEvent" title="CREATE NEW EVENT" class="ui-widget"
		style="display: none">

			Select Event Type: <select id="evType" name="evtype">
				<#list evtypes as et>
				<option value="${et.etid}">(${et.name}) ${et.description}</option>
				</#list>
			</select>
	</div>
	<!-- JavaScript file that will allow us to sort the table columns -->
	<script src="/srv/js/datatables.min.js"></script>
	<link rel="stylesheet" href="/srv/css_style/datatables.min.css" />
		
	</@layout.stdpage>