<#import "/main_layout.html" as layout />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<@layout.stdpage "Blank Template" "editor.css" "editor.js">

<!-- Page Content -->
<div class="container-fluid">
  
<h1>Edit Event</h1>
page instructions here
<hr/>
<br/>
<div id="evFormDiv">
<form id="evForm" method="post" action="/srv/events/update/${event.eid?c}">
  <input type="hidden" value="${event.eid?c}">
  
  <div class="form-group">
    <label for="evType">Event Type</label>
	<select id="evType" name="evtype">
    <#list evtypes as et>
     <#if et.etid == event.type.etid >
      <option value="${et.etid} " selected>(${et.name}) ${et.description}</option>
     <#else>
	  <option value="${et.etid}">(${et.name}) ${et.description}</option>
	 </#if>
	</#list>		
  </select>
  </div>
  
  <div class="form-group">
    <label for="evTitle">Event Title</label>
    <input type="text" class="form-control" id="evTitle" name="evTitle" aria-describedby="titleHelp" placeholder="event title" value="${event.title}">
    <small id="titleHelp" class="form-text text-muted">Name of event for display.</small>
  </div>
  
  <div class="form-group">
    <label for="evAddress">Event Address</label>
    <input type="text" class="form-control" id="evAddress" name="evAddress" aria-describedby="addressHelp" placeholder="event address" value="${event.address}">
    <small id="addressHelp" class="form-text text-muted">Location of event for display.</small>
  </div>
  
  <p>
  Date: <input type="text" id="evDate" name="evDate" aria-describedby="dateHelp" placeholder="event date" value="${event.date?string['yyyy-MM-dd, HH:mm']}">
  </p>
  
   <div class="form-group">
    <label for="evVN">Number of Volunteers Neeeded</label>
    <input type="text" class="form-control" id="evVN" name="evVN" aria-describedby="volunteersNeededHelp" placeholder="event volunteers needed" value="${event.volunteersNeeded}">
    <small id="volunteersNeededHelp" class="form-text text-muted">Number of Volunteers for event for display.</small>
  </div>
  
  <div class="form-group">
    <label for="evNVH">Neeeded Volunteer Hours</label>
    <input type="text" class="form-control" id="evNVH" name="evNVH" aria-describedby="neededVolunteerHoursHelp" placeholder="event needed volunteer hours" value="${event.neededVolunteerHours}">
    <small id="volunteersNeededHelp" class="form-text text-muted">Hours needed for event for display.</small>
  </div>

  <div class="form-group">
    <label for="evRsvp">Registered Hours</label>
    <input type="text" class="form-control" id="evRsvp" name="evRsvp" aria-describedby="rsvpHelp" placeholder="event rsvp volunteer hours" value="${event.rsvpVolunteerHours}">
    <small id="rsvpHelp" class="form-text text-muted">Total Registered Hours of event for display.</small>
  </div>  
  
  <div class="form-group">
    <label for="evNote">Note</label>
    <input type="text" class="form-control" id="evNote" name="evNote" aria-describedby="noteHelp" placeholder="event note" value="${event.note}">
    <small id="noteHelp" class="form-text text-muted">Note of event for display.</small>
  </div>  
  
   <div class="form-check">
   <#if event.continuous==true>
    <input type="checkbox" class="form-check-input" id="evContinuous" name="evContinuous" checked="checked">
    <#else>
    <input type="checkbox" class="form-check-input" id="evContinuous" name="evContinuous">
    </#if>
    <label class="form-check-label" for="evContinuous">Ongoing/Continuous event.</label>
  </div>
  
 <#if event.contact??>
 <div class="form-group">
    <label for="ev-contact" class="ev-contact">Contact</label>
    <br/>
    <label for="evContact_firstName">First Name</label>
    <input type="text" class="form-control" id="evContact_firstName" name="evContact_firstName" aria-describedby="contactHelp" placeholder="contact first name" value="${event.contact.firstName}" readonly>
    
    <br/>
    <label for="evContact_lastName">Last Name</label>
    <input type="text" class="form-control" id="evContact_lastName" name="evContact_lastName" aria-describedby="contactHelp" placeholder="contact last name" value="${event.contact.lastName}" readonly>
    
    <br/>
    <label for="evContact_email">Email</label>
    <input type="text" class="form-control" id="evContact_email" name="evContact_email" aria-describedby="contactHelp" placeholder="contact email" value="${event.contact.email}" readonly>
    
    <br/>
    <label for="evContact_phoneNumWork">Phone Number (Work)</label>
    <input type="text" class="form-control" id="evContact_phoneNumWork" name="evContact_phoneNumWork" aria-describedby="contactHelp" placeholder="contact work phone number" value="${event.contact.phoneNumWork}" readonly>
    
	<br/>
    <label for="evContact_phoneNumMobile">Phone Number (Mobile)</label>
    <input type="text" class="form-control" id="evContact_phoneNumMobile" name="evContact_phoneNumMobile" aria-describedby="contactHelp" placeholder="contact mobile phone number" value="${event.contact.phoneNumMobile}" readonly>
    
    <label for="evContact" class="ev-contact-address">Contact Address</label>
    
	<br/>
    <label for="evContact_street">Street</label>
    <input type="text" class="form-control" id="evContact_street" name="evContact_street" aria-describedby="contactHelp" placeholder="contact address street" value="${event.contact.street}" readonly>
    
    <br/>
    <label for="evContact_city">City</label>
    <input type="text" class="form-control" id="evContact_city" name="evContact_city" aria-describedby="contactHelp" placeholder="contact address city" value="${event.contact.city}" readonly>
    
	<br/>
    <label for="evContact_state">State</label>
    <input type="text" class="form-control" id="evContact_state" name="evContact_state" aria-describedby="contactHelp" placeholder="contact address state" value="${event.contact.state}" readonly>
    
    <br/>
    <label for="evContact_zipcode">Zip Code</label>
    <input type="text" class="form-control" id="evContact_zipcode" name="evContact_zipcode" aria-describedby="contactHelp" placeholder="contact address zip code" value="${event.contact.zipcode}" readonly>
  </div>
<#else>
NO CONTACT
</#if>
  
  <br/>
  <br/>
  <button id="btnEvEdit" type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

</div>

<link rel="stylesheet" href="/srv/css_style/jquery.datetimepicker.css" />
<script src="/srv/js/jquery.datetimepicker.full.js"></script>

</@layout.stdpage>
