<#import "/contacts/contact_macros.html" as ct />

<#if errMsg??>
  	<div class="alert alert-danger row" id="page-error">
	${errMsg}
	</div>
<#else>
<!-- Contains the contents of an event -->

<form id="evDetails" class="form">
	<p id="evId" eid="${eid?c!'UNKNOWN ID'}" style="display:none"></p>
	
	<div class="row">
		<div class="col-9 mb-2">
		
			<div class="input-group mt-2 mb-2">
			   <div class="input-group-prepend">
      			<span class="input-group-text">Name:</span>
			    </div>
				<input id="evName" type="text" class="form-control" value='${event.title!"UNKNOWN EVENT NAME"}' readonly="readonly"/>
			</div>
		
			<div class="input-group mb-2">
				<div class="input-group-prepend">
      			<span class="input-group-text">At:</span>
			    </div>
				<input id="location" type="text" class="form-control" value='${location!"UNKNOWN ADDRESS"}' readonly="readonly"/>
			</div>
			
			<div class="input-group mb-2">
				<div class="input-group-prepend">
      			<span class="input-group-text">When:</span>
			    </div>
				<input id="date" type="text" class="form-control" value='${date?string["MMM d, yyyy h:mm a"]}' readonly="readonly"/>
			</div>
			
			<div class="input-group mb-2">
				<textarea id="evDescription" rows="3" class="form-control" placeholder='${evDescr!"UNKNOWN EVENT DESCRIPTION"}' readonly="readonly"></textarea>
			</div>
			
			</div>
			
			<div class="col-3 border rounded mb-2">
			
				<div class="form-row border rounded mt-2" style="padding: 5px;">
				<h6 class="mb-2">Need:</h6>
				<div class="input-group mb-2">
					<input id="volunteersNeeded" type="text" class="form-control col-3" value='${volunteersNeeded!"0"}' readonly="readonly"/>
				    <div class="input-group-append">
				      <span class="input-group-text">volunteers</span>
				    </div>					
				</div>
				
				<div class="input-group mb-2">
					<input id="hrsNeeded" type="text" class="form-control col-3" value='${hrsNeeded!"0"}' readonly="readonly"/>
				    <div class="input-group-append">
				      <span class="input-group-text">hours</span>
				    </div>
				</div>
				</div>
				
				<div class="form-row border rounded mt-2"  style="padding: 5px;">
				<h6 class="mb-2">Commitment:</h6>
				<div class="input-group mb-2">
					<input id="rsvpHrs" type="text" class="form-control col-3" value='${rsvpHrs!"0"}' readonly="readonly"/>
				    <div class="input-group-append">
				      <span class="input-group-text">hours</span>
				    </div>
				</div>
				</div>

			</div>
		</div>
			
	   <div class="form-row mb-2">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
    						<span class="input-group-text">Event Type:</span>
	    		</div>
				<input id="sponsor" type="text" class="form-control" value='(${sponsorName!"UNKNOWN"}) ${sponsorDescr!"EVENT TYPE"}' readonly="readonly"/>
			</div>
		</div>
					
		<div class="form-row mb-2">	
			<div class="input-group">
				<div class="input-group-prepend">
    						<span class="input-group-text">Sponsor:</span>
	    		</div>
				<input id="srvClient" type="text" class="form-control" value='${srvClient!"UNKNOWN SERVICE CLIENT"}' readonly="readonly"/>
			</div>
		</div>
			
		<div class="form-row mb-2">
			<label for="srvClient" class="control-label lm-2" style="width: 8em; padding-left: 1em;">Contact:</label>
			<div class="border bg-light col-8 bm-2 " style="padding: 10px; font-size: small;">
	  		<@ct.view_sm contact />
	  		</div>
		</div>



	<#if !userAdmin>
	<div class="form-row" style="padding-bottom:50px;">
		<div class="col-sm-2" style="padding-top:10px">
			<button id="backBtn" type="button" class="btn edit" onclick="goBack()"><span class="fas fa-arrow-left"></span>Back</button>
		</div>
		<div class="col-sm-2" style="padding-top:10px;">
			<button id="viewAllBtn" type="button" class="btn edit" onclick="window.location.href='/srv/events'">View All Events</button>
		</div>
		<div class="col-sm">
			<button id="rsvpBtn" type="button" class="btn btn-primary float-right"  onclick="onSignUpClick()">Sign Up</button>
		</div>
	</div>
	</#if>
</form>
</#if>

	