<#import "/main_layout.html" as layout />

<@layout.stdpage "View Event" "viewEvent.css" "events.js">
<div class="container">
	<div class="row">
		<h1>Event Name</h1>
	</div>
	
	<div class="row">
		<div class="col-sm-5">
		<div class="row">
		<div class="col-sm">
			<h3><b>Description:</b></h3>
			<p>The event was really awesome. This event is going to help people get their groceries especiesally due to covid like everything else.</p>
		</div>
		</div>
		<div class="row">
		<div class="col-sm">
			<h3><b>Other Notes:</b></h3>
			<p>Must be 21 years old or older. Need a car. </p>	
		</div>
		</div>
				<div class="row">
			<div class="col-sm-8">
				<h3><b>Volunteers Needed:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>12</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3><b>Hours Needed:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>250</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3><b>RSVPed Hours:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>125</p>
			</div>
		</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm">
		<div class="row">
			<div class="col-sm-3">
				<h3><b>Location:</b></h3>
			</div>	
			<div class="col-sm">
				<p>123 Main Street Sherman TX, 75090</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<h3><b>Date:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>Jan 01, 2020 10:00 AM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3><b>Event Type:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>(gds) Great Day of Service</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<h3><b>Service Client:</b></h3>
			</div>	
			<div class="col-sm text-left">
				<p>Habitat for Humanity</p>
			</div>
		</div>
			<div class="row">
		<div class="col-sm-3">
			<h3><b>Contact:</b></h3>
		</div>	
		<div class="col-sm text-left">
				<p>Jane Doe</p>
				<div class="row">
				<div class="col">
				<b>Main Number:</b>
				</div>
				<div class="col">
				<b>Other Number:</b>
				</div>
				</div>
				<div class="row" style="margin-bottom: 1rem;">
				<div class="col">
				903-337-9011
				</div>
				<div class="col">
				232-121-4121
				</div>
				</div>
				<p>jdoe@gmail.com</p>
			</div>
		</div>
		</div>
	</div>
</div>


	<div class="row" style="padding-bottom:50px;">
		<div class="col-sm-2" style="padding-top:10px">
			<button class="btn edit" onclick="goBack()">
					<span class="fas fa-arrow-left"></span> Back
			</button>
		</div>
		<div class="col-sm-2" style="padding-top:10px;">
			<button class="btn edit" onclick="window.location.href='/srv/events'">
					View All Events
			</button>
		</div>
		<#if !userAdmin>
		<div class="col-sm">
			<button class="btn btn-secondary float-right" disabled>
					Sign Up
			</button>
		</div>
		</#if>
	</div>
</@layout.stdpage>