<#import "/main_layout.html" as layout />
<#import "/bm/bm_macros.html" as bmmac />

<@layout.stdpage "Manage Board Members" "adminManageBoardMember.css" "adminManageBoardMember.js">

<div id="mainContainer" class="container">
	
	<!-- Page instructions -->
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col-md" id="instructions">
			<p>Use this page to manage the current staff of the 
			Service Station.  Potential board members must login
			and establish themselves as a <b>Servant User</b> (ie, a website user) BEFORE you 
			can select/promote them to <b>Board Member</b> status.  
			</p>
		</div>
	</div>
	
	<!-- table title. -->
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col">
			<h2>Board Members</h2>
		</div>
	</div>
	
	<!-- Add/Create new event type button -->
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col">
			<button id="btnBmNew" class="btn btn-md addBtn">
				<span class="fas fa-plus-circle"></span> Create New
			</button>
		</div>
	</div>
	
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col">
	
		<!-- board member table -->
		<table id="bmTbl" class="table table-striped table-bordered table-sm" cellspacing="0"	width="100%">
			<thead>
				<tr>
					<th class="th-sm">Co-Chair</th>
					<th class="th-sm">Username</th>
					<th class="th-sm">Name</th>
					<th class="th-sm">E-mail</th>
					<th class="th-sm">Phone Number</th>
					<th class="th-sm">Expected Grad Year</th>
					<th class="th-sm">Action</th>
				</tr>
			</thead>
			<tbody id="bmTblBody">
				<#list boardMembers as bm>
					<@bmmac.bm_row bm/>
				</#list>
			</tbody>
		</table>
	</div>
</div>
	
	
	<!-- back button -->
	<div class="row" style="padding-left:20px; padding-bottom:20px">
		<a class="btn edit" href="/srv/home/admin"> 
		<span class="fas fa-arrow-left"></span>
			Back
		</a>
	</div>
	
	<!-- The div below defines the delete dialog.  It is hidden and exposed when needed -->
	<div id="dlgDelete" title="DELETE SELECTED BOARD MEMBER"
		class="ui-widget delWid" style="display: none">
		<p id="del_confirm">
			Are you sure you want to delete this board member? <br />
		</p>
		
		<div id="delBmId">id</div>
		<div id="delBmUserName">username</div>
		<div id="delBmName">name</div>
		
	</div>
	
</div>

<!-- dialog for selecting a servant user when promoting them to a board member -->
<div id="dlgUserSel" title="Select User..." style="display:none">
<p class="validationTips"></p>
<input type="hidden" id="newBmUsername" value="" />

	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
	
		<div class="col">
			<!-- Servant users table -->
			<table id="tblUsers" class="table table-striped table-bordered table-sm">
				<thead>
					<tr>
						<th class="th-sm">&#xA0;</th>
						<!-- hiding id column <th class="th-sm">Id</th> -->
						<th class="th-sm">Username</th>
						<th class="th-sm">Name</th>
						<th class="th-sm">E-mail</th>
						<th class="th-sm">Expected Grad Year</th>
					</tr>
				</thead>
				<tbody>
					<#list srvUsers as users>
						<tr id="uid-${users.uid?c}">
							<td class="user_sel">
								<input class="boxSel" type="checkbox" uid="${users.uid}" value="${users.username}"/>
							</td>
							<!-- hiding id column <td class="user_id">${users.uid}</td> -->
							<td class="user_username">${users.username!"UNKNOWN"}</td>
							<td class="user_name">${users.contactInfo.fullName()!"UNKNOWN"}</td>
							<td class="user_email">${users.contactInfo.email!"UNKNOWN"}</td>
							<#if users.expectedGradYear??>
								<td class="user_gradYr">${users.expectedGradYear?c}</td>
							<#else>
								<td class="user_gradYr">UNKNOWN</td>
							</#if>
						</tr>
					</#list>
				</tbody>
			</table>
		</div>
	</div>
</div>		

<div id="dlgBmEdit" title="Board Member Details...." style="display:none">
bm details
</div>

<script src="/srv/js/contact-mgr.js"></script>
<script src="/srv/js/datatables.min.js"></script>
<link rel="stylesheet" href="/srv/css_style/datatables.min.css" />

</@layout.stdpage>