<#import "/main_layout.html" as layout />

<@layout.stdpage title="Service Client Test" cssname="" >

<!-- Page Content -->
<div class="container-fluid">

	<div >
	<#if clients?? >
			<ul>
			<#list clients as sc>
				<li id="row_${sc.scid}"> ${sc.scid?c}, ${sc.name!"UNKNOWN"}, ${sc.mainContact.firstName!"UNKNOWN"} ${sc.mainContact.lastName!"UNKNOWN"}, ${sc.currentBoardMember.username!"UNKNOWN"}, ${sc.category!"NONE"}</li>
			</#list>
			</ul>
	<#else>
	<div class="warning">
		We have no service clients!
	</div>
	</#if>


	</div>
</div>

</@layout.stdpage>
