@charset "ISO-8859-1";

/* Style for the About title */
.display-1 {
	font-weight:400;
	font-family: Roboto, sans-serif;
}
/* Style for the sub headings */
h4 {
	font-weight: 790;
	font-family: Roboto, sans-serif;
}
/* Style for paragraphs */
p {
	font-size: 20px;
	font-family: arial;
}
.body {
	background-color: #427dc6;
}