<#if etid??>
<tr id="etid-${etid?c}">
	<td class="etView" etid="${etid?c}" name="et_id">${etid!"UNKNOWN ID"}</td>
	<td class="etView" etid="${etid?c}" name="et_name_descr">(${etName!"UNKNOWN NAME"}) ${description!"UNKNOWN DESCRIPTION"}</td>
	<td class="etView" etid="${etid?c}" name="et_hr">${defHours!"None"}</td>
	<#if defClient??>
		<td class="etView" etid="${etid?c}" name="et_sc">${defClient.name}</td>
	<#else>
		<td class="evView" eid="${etid?c}" name="et_sc">No Service Client</td>
	</#if>
				
	<!--action buttons-->
	<td class="etActions">
		<button class="btn edit btnEtEdit" etid="${etid?c}">
			<i class="fas fa-pencil-alt"></i>
		</button>
		<button class="btn btnView btnEtView" etid="${etid?c}">
			<i class="fas fa-search"></i>
		</button>
		<button class="btn del btnEtDel" etid="${etid?c}">
			<i class="far fa-trash-alt"></i>
		</button>
	</td>
</tr>
</#if>