<div class="container-fluid">
		<p class="validationTips"></p>
		
		<!-- Event Type id that is to be edited/updated -->
		<input type="hidden" id="editDlgEtid" value="" />
		
		<form id="editEt">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="editEtName">Abbreviated Name:</label>
						<input id="editEtName" type="text" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label for="editEtDescr">Full Name/Description:</label>
						<textarea id="editEtDescr" rows="2" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="editDefHrs">Default Hours:</label>
						<input id="editDefHrs" type="text" class="form-control"/>
					</div>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm">
					<div class="row" style="padding-bottom:0px">
						<div class="form-group">
							<label for="radio-inline" style="padding-right:10px">Do you wish to pin hours?</label>
							<label class="radio-inline" style="padding-right:10px">
      							<input id="editYesPinHrs" type="radio" name="optradio" checked="checked"/> Yes
    						</label>
				    		<label class="radio-inline" style="padding-right:10px">
      							<input id="editNoPinHrs" type="radio" name="optradio"/> No
    						</label>
						</div>
					</div>
					<div class="row" style="padding-top:-0px">
						<p style="font-size:12px">*By pinning hours, a user must report using the default hours.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label for="editEtSc" style="margin-bottom:0px">Service Client:</label>
						<button id="updateClientBtn" class="btn btn-md addBtn float-right">Change Service Client</button>
						<input type="hidden" id="editScId" value="" />
						<input id="editEtSc" style="margin-top:20px;" type="text" class="form-control" readonly="readonly" value="sel sc"/>
					</div>
				</div>
			</div>
		</form>
</div>