@charset "ISO-8859-1";

/* Style settings for the back and view buttons.*/
.edit{
	background-color: #db9401;
	border-color: #db9401;
	color: white;
	text-align: center;
	
}

.input-group-text {
	width: 8em;
}
.form-control[readonly] {
	background-color: rgb(248,249,250)
}

h3 {
	font-weight: bold;
}

.form-control-plaintext {
	padding-top:12px;
}

.col-form-label {
	padding-left: 15px;
}
.row {
	padding-top:10px; 
	padding-bottom:10px;
}