@charset "ISO-8859-1";

/* credit to Lydia for making the list style in listStyle1*/
/* Style settings for the table. */
.table{
	text-align: center;
}
.table > thead > tr > th {
	vertical-align: middle;
}
thead th {
	background-color: #a41e34;
	color: white;
	text-align: center;
}
/* Style settings for the add buttons.*/
#addBtnContainer{
	background-color: #db9401;
	color: white;
	text-align: center;
}
/* Hover effect for the add buttons.*/
#addBtnContainer:hover{
     background-color: #db9401;
     opacity: 0.5;
}
.addBtn:hover{
	background-color:#db9401;
}
.addBtn:focus{
	background-color:#db9401;
}
/* Style settings for the edit and add buttons.*/
.edit, .addBtn{
	background-color: #db9401;
	border-color: #db9401;
	color: white;
	text-align: center;
	
}
/* Style settings for the delete buttons.*/
.del{
	background-color: #a41e34;
	color: white;
	text-align: center;
}
td a:hover {
	background-color: #ffffff;
	
}
/* end credit to Lydia for list style*/