@charset "ISO-8859-1";

/* Style for the container containing the stats info*/
.container-statsBackground {
 float: left;
 background-color: white;
 width: 25%;
 height 100%;
}

/* style for Stats heading Text*/
.container-statsHeadTextBackground {
	color: Black;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.2;
}
/* style for Stats text area*/
.container-Stats {
	color: Black;
	border: 1px solid black;

}


/* style for table background */
.container-tableBackground {
	float: right;
	background-color: white;
	height: 100%;
	width: 75%
}

/* style for section headings */
.container-textHeading {
	padding-left: 14px;
	color: black;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.2;	
}



/* Styles for the table, include table, th, and td*/
.container-tables {
  background-color: white;
  padding-left: 28px;
  .fill {object-fit: fill;}
}

.table {

  text-align: center;
	vertical-align: middle;
}

.table > thead > tr > th {
	
}

th {
	background-color: #a41e34;
	color: white;
	text-align: center;
	
}

td {
border: 1px solid black;
background-color: white;
}

/* style for the area we'll put the buttons */
.container-buttonArea {
    padding-top:2px;
	padding-right:2px;
	width: 100%
}

/* Credit to Lydia from listStyle1 */
/* Style settings for the delete icon on the delete buttons.*/
.glyphicon-remove-sign{
	padding-top:2px;
	padding-right:2px;
}
/* Style settings for the edit icon on the edit buttons.*/
.glyphicon-pencil{
	padding-top:2px;
	padding-right:5px;
}
/* Style settings for the add buttons.*/
#addBtnContainer{
	background-color: #db9401;
	color: white;
	text-align: center;
}
/* Hover effect for the add buttons.*/
#addBtnContainer:hover{
     background-color: #db9401;
     opacity: 0.5;
}
.addBtn:hover{
	background-color:#db9401;
}
.addBtn:focus{
	background-color:#db9401;
}
/* Style settings for the edit and add buttons.*/
.edit, .addBtn{
	background-color: #db9401;
	border-color: #db9401;
	color: white;
	text-align: center;
}
/* Style settings for the delete buttons.*/
.del{
	background-color: #a41e34;
	color: white;
	text-align: center;
}
/* End credit to lydia, thanks lydia */
