@charset "ISO-8859-1";

/* Style for the container containing the stats info*/
.container-statsBackground {
 float: left;
 background-color: white;
 width: 25%;
 height 100%;
}

/* style for Stats heading Text*/
.container-statsHeadTextBackground {
	color: Black;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.2;
}
/* style for Stats text area*/
.container-Stats {
	color: Black;
	border: 1px solid black;

}


/* style for table background */
.container-tableBackground {
	float: right;
	background-color: white;
	height: 100%;
	width: 75%
}

/* style for section headings */
.container-textHeading {
	padding-left: 14px;
	color: black;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.2;	
}


.table {

  text-align: center;
}

.table > thead > tr > th {
	vertical-align: middle;
}

thead th {
	background-color: #a41e34;
	color: white;
	text-align: center;
}

th {
	background-color: #a41e34;
	color: white;
	text-align: center;
	
}

/* style for the area we'll put the buttons */
.container-buttonArea {
    padding-top:2px;
	padding-right:2px;
	width: 100%
}

/* Credit to Lydia from listStyle1 */
.addBtn:hover{
	background-color:#db9401;
}
.addBtn:focus{
	background-color:#db9401;
}
/* Style settings for the edit and add buttons.*/
.edit, .addBtn{
	background-color: #db9401;
	border-color: #db9401;
	color: white;
	text-align: center;
}
/* Style settings for the delete buttons.*/
.del{
	background-color: #a41e34;
	color: white;
	text-align: center;
}

/* Style for the rows in the dialog box when a service hour is selected in the table */
#hrInfoDlg .row {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Style for the description of the event text field box located in the service hour information dialog */
#hrInfoDlg_desc {
	line-height: 75px;
}
/* End credit to lydia, thanks lydia */
