@charset "ISO-8859-1";
/* Style settings for the top header of the page. */
/* Add a black background color and style the header at the top of the page */
.jumbotron{
	text-align: center;
	background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 12px;
	font-size: 25px;	
	width: 50%;
}

/* Change the color of links on hover */
.topnav  a:hover {
	background-color: #e9a911;
	color: white;
}
/* Style for opportunity icon circles */
.dot {
  height: 43px;
  width: 43px;
  border-radius: 80%;
  background-color: black;
  display: inline-block;
}

/* Change the color of links on hover */
a:hover {
	background-color: #427dc6;
}

/* Style settings for the table. */
.table{
	text-align: center;
}
.table > thead > tr > th {
	vertical-align: middle;
}
thead th {
	background-color: #a41e34;
	color: white;
	text-align: center;
}
/* Style settings for the delete icon on the delete buttons.*/
.glyphicon-remove-sign{
	padding-top:2px;
	padding-right:2px;
}
/* Style settings for the edit icon on the edit buttons.*/
.glyphicon-pencil{
	padding-top:2px;
	padding-right:5px;
}
/* Style settings for the add buttons.*/
#addBtnContainer{
	background-color: #db9401;
	color: white;
	text-align: center;
}
/* Hover effect for the add buttons.*/
#addBtnContainer:hover{
     background-color: #db9401;
     opacity: 0.5;
}
.addBtn:hover{
	background-color:#db9401;
}
.addBtn:focus{
	background-color:#db9401;
}
/* Style settings for the edit and add buttons.*/
.edit, .addBtn{
	background-color: #db9401;
	border-color: #db9401;
	color: white;
	text-align: center;
}
/* Style settings for the delete buttons.*/
.del{
	background-color: #a41e34;
	color: white;
	text-align: center;
}
/* Style settings for the delete organization dialog */
#delDlg{
	text-align: center;
	font-weight: bold;
}

/* Style settings for the add and edit dialogs. */
#addDlg, #editDlg{
	overflow: hidden;
}
/* Close button icon for dialog close buttons. */
.ui-button .ui-icon{ 
	background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_white_256x240.png);
}
/* Style setting for the edit and add dialog headers. */
.ui-dialog-titlebar{
	background-color: #a41e34;
	color: white;
	text-align: center;
}
/* Style settings for the close button on the edit and add dialog headers. */
 .ui-dialog-titlebar > .ui-button {
   border: 0 none;
   background-color: #a41e34;
   margin-top: -11px;
 }

/* Style settings for the add and update buttons in the add and edit dialogs. */
.addBtnClass, .editBtnClass{
	background-color: #db9401;
	color: white;
	text-align: center;
}

/* Change the color of the cancel button in dialogs on hover */
.cancelBtnClass:hover{
	color: white;
  	background-color: #dc3545;
}

td a:hover {
	background-color: #ffffff;
	
}



