@charset "ISO-8859-1";
@import "all.css"; /* Importing the css file that contains the style for the fontawesome.js*/

/* Add a black background color and style the header at the top of the page */
.jumbotron{
	text-align: center;
	background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 12px;
	font-size: 12pt;	
	width: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #e9a911;
	color: white;
}

/* Style for profile icon makes the guy in the icon black*/
#profileIcon{
 	height: 50px;
  	width: 50px;
  	border-radius: 60%;
  	background-color: black;
  	margin-left:20px;
}

/* Makes the icon white */
.fa-user-circle {
	font-size:48px; 
	color:white
}

/* Changes the color of the profile icon on hover */
#profileIcon:hover .fa-user-circle {
	color:#e9a911;
} 

/* Style for footer */
.navbar-inverse {
	min-height:2.5em;
	background-color: #222;
	text-align:center;
}

/* Adds a border between the activity links in the footer */
.footer-links {
	border-right: #444 1px solid;	
	padding-right: 30px;
	padding-left: 20px;
}

/* Color for the activity links in the footer */
.footer-links a{
	color:#81d2f7
}


