@charset "ISO-8859-1";

/* Add a black background color and style the header at the top of the page */
.jumbotron{
	text-align: center;
	background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 12px;
	font-size: 25px;	
	width: 30%;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #e9a911;
	color: white;
}

/* Makes background AC blue */
body { 
	background-color: #427dc6
}

/* Style for the announcement title */
#announceTitle {
	padding-left:50px; 
	padding-top:20p
}

/* Style for the column containing the list of announcements and find opportunity*/
#annListCol, #findOpTitle {
	padding-left:50px
}

/* Style for the See All link */
#seeAllLink {
	font-size:18px
}

/* Style for the columns containing the spotlight elements and opportunity icons*/
#spotlightCol, #rowIcons {
	padding-top:25px
}
/* Style for section titles */
h1 {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	
}

/* Style for the horizontal rules below section titles */
hr {
	border: .5px solid #A9A9A9;
	background-color: black;
	margin-top: 0px;
}

/* Style for the containers */
#announcementElements.container-fluid, #findOpElements.container-fluid{
	background-color: white;
   	width: 75%;
   	padding-bottom: 50px;
}

/* Style for the announcement list */
#announceList {
	font-size: 20px;
	margin-top: 25px;
}

/* Change the color of links on hover */
#announceList a:hover {
	background-color: #a41e34;
	color: white;
}

/* Style for the spotlight description */
#spotlightDesc {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
}

/* Style for the spotlight image */
#spotlightImg {
	width: 600px;
	height: 450px;
	opacity: 0.95;
}

/* Style for opportunity icon circles */
.dot {
  height: 85px;
  width: 85px;
  background-color: #e9a911;
  border-radius: 50%;
  display: inline-block;
}

/* Change the color of icons on hover */
.opIcons a:hover {
	background-color: #a41e34;
}

/* Style for types of opportunities */
i {
	color:black;
	margin: 16px 0px 0px 16px;
	font-size:48px
}

/* Style for icon labels */
.opLabel {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

/* Change the color of icon labels on hover */
.opLabel a:hover {
	background-color: white;
	color: #a41e34;
}

/* Adds space at the bottom of the page */
#bottomSpacer {
	height:60px
}
ul {
	list-style-type: none;
}

#calendar.container-fluid {
	width: 76.6%;
}

/* Style for month header */
.month {
  font-family: Roboto, sans-serif;
  padding: 25px;
  background: #a41e34;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

/* Style for weekday header */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  font-size: 20px;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}

/* Style for days header */
.days {
  font-size: 30px;
  padding: 10px 0;
  background-color: white;
  margin: 0;
}

.days li {

  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  color: black;
}

.days li .active {
  padding: 5px;
  background: #e9a911;
  color: white !important
}

/* STYLE FOR PET LIST PAGE BELOW */

