<!-- The user is free to add the service client's name, board member, and category. The contact information for the
	service client is assuming that the contact is already in the contact database. Thus, the user can select the
	desired contact ID which then pre-populates the contact information field from that contact but the user does
	not have the ability to change it (such as contact name, phone, etc) -->	
<div class="container">
	<div class="row">
		<div class='form-group'>
			<div class="container-fluid">
				<p class="validationTips"></p>
					<div class='form-row' style='padding-bottom:15px'>
						<div class='col-sm-4'>
							<label for="addDlg_name"><b>Name of Sponsor</b></label>
						</div>
						<div class='col-sm-6'>
							<input id="addDlg_name" class="form-control" size="50"/>
						</div>
					</div>
					<div class="form-row">
						<div class='col-sm-4'>
							<label for="addDlg_boardMemberName"><b>Board Member</b></label>
						</div>
						<div class="form-group col-sm-6">
							<select id="addDlg_boardMemberName" class='form-control'>
								<#list users as boardMember>
									<option value="${boardMember.uid}">${boardMember.contactInfo.fullName()!"UNKNOWN"}</option>
								</#list>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class='col-sm-4'>
							<label for="addDlg_category"><b>Category</b></label>
						</div>
						<div class="form-group col-sm-6">
							 <select id="addDlg_category" class="form-control">
								<option value="Animals">Animals</option>
								<option value="Community">Community</option>
								<option value="Education">Education</option>
								<option value="Seniors">Seniors</option>
								<option value="Medical">Medical</option>
								<option value="Crisis Support">Crisis Support</option>
								<option value="Variety">Variety</option>
							</select>
						</div>
					</div>
					
					
				<div id="scContact5" class="border bg-light form-group" style="padding: 10px; margin-top:2em;">

					<div class='row'>
						<div class='col'>
							<h6 class="small"><b>Primary Contact Information</b><button id="btnContact5" type="button" class="btn btn-sm btn-light border form-button ml-2" cid="-1" >...</button></h6>						
							<hr class="col-md-11-auto"/>
						</div>
					</div>
					
				  	 <div id="evContactView1">
	 			  		<@ct.view_sm_empty "5"/>
				  	  </div>
  				</div>
	
			</div>
		</div>
	</div>
</div>