<!-- Appends new service client to the table. -->
<tr id="scid-${scid}">
	<td name='sc_id' class='scRow' scid="${scid?c}">${scid!"UNKNOWN"}</td>
	<td name='sc_title' class='scRow' scid="${scid?c}">${name!"UNKNOWN"}</td>
	<td name='sc_contact_name' class='scRow' scid="${scid?c}">${mainContactName!"UNKNOWN"}</td>
	<td name='sc_bm_name' class='scRow' scid="${scid?c}">${boardMemberName!"UNKNOWN"}</td>
	<td name='sc_category' class='scRow' scid="${scid?c}">${category!"UNKNOWN"}</td>
	<td class="text-center"> 
	   <button type="button" class="edit btn btnScEdit" scid="${scid?c}">
		<span class="fas fa-pencil-alt"></span> 
		</button>
		<button class="btn btnView btnScView" scid="${scid?c}">
			<i class="fas fa-search"></i>
		</button>
		<button type="button" class="btnScDel btn" scid="${scid?c}">
		<span class="fas fa-trash-alt"></span>     
		</button>
	</td>
</tr>