<!-- Appends new service client to the table. -->
<tr id="scid-${scid}">
	<td name='sc_id' class='scRow' onRowClick="${scid?c}">${scid!"UNKNOWN"}</td>
	<td name='sc_title' class='scRow' onRowClick="${scid?c}">${name!"UNKNOWN"}</td>
	<td name='sc_contact_name' class='scRow' onRowClick="${scid?c}">${firstName!"UNKNOWN"} ${lastName!"UNKNOWN"}</td>
	<td name='sc_bm_name' class='scRow' onRowClick="${scid?c}">${bmFirstName!"UNKNOWN"} ${bmLastName!"UNKNOWN"}</td>
	<td name='sc_category' class='scRow' onRowClick="${scid?c}">${category!"UNKNOWN"}</td>
	<td class="text-center"> 
	   <button type="button" class="edit btn" onEditClick="${scid?c}">
		<span class="fas fa-pencil-alt"></span> 
		</button>
		
		<button type="button" class="del btn" onDelClick="${scid?c}">
		<span class="fas fa-trash-alt"></span>     
		</button>
	</td>
</tr>