<div class="container">
	<div class="row">
		<div class='form-group'>
			<div class="container-fluid">
				<div class='form-row'>
					<div class='col-sm-4'>
						<label for="scInfoDlg_name"><b>Name of Service Client</b></label>
					</div>
					<div class='col-sm-6'>
						<input id="scInfoDlg_name" class="form-control" readonly="readonly" size=50/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_bmName"><b>Board Member:</b></label> 
						<input class="form-control" id="scInfoDlg_bmName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="scInfoDlg_cat"><b>Category</b></label> 
						<input class="form-control" id="scInfoDlg_cat" readonly="readonly"/>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<h5><b>Primary Contact Information</b></h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class='form-row'>
					<div class='col-sm-3'>
						<label for="scInfoDlg_mcID"><b>Select Contact ID</b></label>
					</div>
					<div class='col-sm-2'>
						<input id="scInfoDlg_mcID" class='form-control mcRow' readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_mcName"><b>Name</b></label> 
						<input class="form-control" id="scInfoDlg_mcName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="scInfoDlg_mcEmail"><b>Email</b></label> 
						<input class="form-control" id="scInfoDlg_mcEmail" readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_mcWorkPhone"><b>Phone Number (Work)</b></label> 
						<input class="form-control" id="scInfoDlg_mcWorkPhone" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="scInfoDlg_mcMobilePhone"><b>Phone Number (Mobile)</b></label>
						<input class="form-control" id="scInfoDlg_mcMobilePhone" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label for="scInfoDlg_mcStreet"><b>Address</b></label> 
					<input class="form-control" id="scInfoDlg_mcStreet" readonly="readonly"/>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_mcCity"><b>City</b></label> 
						<input class="form-control" id="scInfoDlg_mcCity" readonly="readonly"/>
					</div>
					<div class="form-group col-md-4">
						<label for="scInfoDlg_mcState"><b>State</b></label> 
						<input id="scInfoDlg_mcState" class="form-control" readonly="readonly"/>
					</div>
					<div class="form-group col-md-2">
						<label for="scInfoDlg_mcZip"><b>Zip</b></label> 
						<input class="form-control" id="scInfoDlg_mcZip" readonly="readonly"/>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<h5><b>Secondary Contact Information</b></h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class='form-row'>
					<div class='col-sm-3'>
						<label for="scInfoDlg_ocID"><b>Select Contact ID</b></label>
					</div>
					<div class='col-sm-2'>
						<input id="scInfoDlg_ocID" class='form-control mcRow' readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_ocName"><b>Name</b></label> 
						<input class="form-control" id="scInfoDlg_ocName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="scInfoDlg_ocEmail"><b>Email</b></label> 
						<input class="form-control" id="scInfoDlg_ocEmail" readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_ocWorkPhone"><b>Phone Number (Work)</b></label> 
						<input class="form-control" id="scInfoDlg_ocWorkPhone" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="scInfoDlg_ocMobilePhone"><b>Phone Number (Mobile)</b></label> 
						<input class="form-control" id="scInfoDlg_ocMobilePhone" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label for="scInfoDlg_ocStreet"><b>Address</b></label> 
					<input class="form-control" id="scInfoDlg_ocStreet" readonly="readonly"/>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="scInfoDlg_ocCity"><b>City</b></label> 
						<input class="form-control" id="scInfoDlg_ocCity" readonly="readonly"/>
					</div>
					<div class="form-group col-md-4">
						<label for="scInfoDlg_ocState"><b>State</b></label> 
						<input id="scInfoDlg_ocState" class="form-control" readonly="readonly"/>
					</div>
					<div class="form-group col-md-2">
						<label for="scInfoDlg_ocZip"><b>Zip</b></label> 
						<input class="form-control" id="scInfoDlg_ocZip" readonly="readonly"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>