<div class="container">
	<div class="row">
		<div class='form-group'>
			<div class="container-fluid">
				<div class='form-row'>
					<div class='col-sm-4'>
						<label for="viewDlg_name"><b>Name of Sponsor</b></label>
					</div>
					<div class='col-sm-6'>
						<input id="viewDlg_name" class="form-control" readonly="readonly" size=50/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_boardMemberName"><b>Board Member:</b></label> 
						<input class="form-control" id="viewDlg_boardMemberName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_category"><b>Category</b></label> 
						<input class="form-control" id="viewDlg_category" readonly="readonly"/>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<h5><b>Primary Contact Information</b></h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class='form-row'>
					<div class='col-sm-3'>
						<label for="viewDlg_mainContactID"><b>Select Contact ID</b></label>
					</div>
					<div class='col-sm-2'>
						<input id="viewDlg_mainContactID" class='form-control mainContactRow' readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_mainContactName"><b>Name</b></label> 
						<input class="form-control" id="viewDlg_mainContactName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_mainContactEmail"><b>Email</b></label> 
						<input class="form-control" id="viewDlg_mainContactEmail" readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_mainContactWorkPhone"><b>Phone Number (Work)</b></label> 
						<input class="form-control" id="viewDlg_mainContactWorkPhone" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_mainContactMobilePhone"><b>Phone Number (Mobile)</b></label>
						<input class="form-control" id="viewDlg_mainContactMobilePhone" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label for="viewDlg_mainContactStreet"><b>Address</b></label> 
					<input class="form-control" id="viewDlg_mainContactStreet" readonly="readonly"/>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_mainContactCity"><b>City</b></label> 
						<input class="form-control" id="viewDlg_mainContactCity" readonly="readonly"/>
					</div>
					<div class="form-group col-md-4">
						<label for="viewDlg_mainContactState"><b>State</b></label> 
						<input id="viewDlg_mainContactState" class="form-control" readonly="readonly"/>
					</div>
					<div class="form-group col-md-2">
						<label for="viewDlg_mainContactZip"><b>Zip</b></label> 
						<input class="form-control" id="viewDlg_mainContactZip" readonly="readonly"/>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						<h5><b>Secondary Contact Information</b></h5>
						<hr class=".col-md-11-auto">
					</div>
				</div>
				<div class='form-row'>
					<div class='col-sm-3'>
						<label for="viewDlg_otherContactID"><b>Select Contact ID</b></label>
					</div>
					<div class='col-sm-2'>
						<input id="viewDlg_otherContactID" class='form-control mainContactRow' readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_otherContactName"><b>Name</b></label> 
						<input class="form-control" id="viewDlg_otherContactName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_otherContactEmail"><b>Email</b></label> 
						<input class="form-control" id="viewDlg_otherContactEmail" readonly="readonly"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_otherContactWorkPhone"><b>Phone Number (Work)</b></label> 
						<input class="form-control" id="viewDlg_otherContactWorkPhone" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_otherContactMobilePhone"><b>Phone Number (Mobile)</b></label> 
						<input class="form-control" id="viewDlg_otherContactMobilePhone" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label for="viewDlg_otherContactStreet"><b>Address</b></label> 
					<input class="form-control" id="viewDlg_otherContactStreet" readonly="readonly"/>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_otherContactCity"><b>City</b></label> 
						<input class="form-control" id="viewDlg_otherContactCity" readonly="readonly"/>
					</div>
					<div class="form-group col-md-4">
						<label for="viewDlg_otherContactState"><b>State</b></label> 
						<input id="viewDlg_otherContactState" class="form-control" readonly="readonly"/>
					</div>
					<div class="form-group col-md-2">
						<label for="viewDlg_otherContactZip"><b>Zip</b></label> 
						<input class="form-control" id="viewDlg_otherContactZip" readonly="readonly"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>