<div class="container">
	<div class="row">
		<div class='form-group'>
			<div class="container-fluid">
				<div class='form-row'>
					<div class='col-sm-4'>
						<label for="viewDlg_name"><b>Name of Sponsor</b></label>
					</div>
					<div class='col-sm-6'>
						<input id="viewDlg_name" class="form-control" readonly="readonly" size="50"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="viewDlg_boardMemberName"><b>Board Member:</b></label> 
						<input class="form-control" id="viewDlg_boardMemberName" readonly="readonly"/>
					</div>
					<div class="form-group col-md-6">
						<label for="viewDlg_category"><b>Category</b></label> 
						<input class="form-control" id="viewDlg_category" readonly="readonly"/>
					</div>
				</div>
				
  			<div id="scContact1" class="border bg-light form-group" style="padding: 10px; margin-top:2em;">

				<div class='row'>
					<div class='col'>
						<h6 class="small"><b>Primary Contact Information</b></h6>
						<hr class=".col-md-11-auto"/>
					</div>
				</div>
				
			  	 <div id="evContactView">
 			  		<@ct.view_sm_empty "1"/>
			  	  </div>
  			</div>
				
		</div>
	</div>
  </div>
</div>