<#import "/main_layout.html" as layout />
<!-- CSS style for jquery widgets -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<@layout.stdpage "Service Client Manager" "listStyle.css" "serviceclients/listClients.js">

	<!-- Holds the main elements of the page which include the service client table and its title
	     as well as the add buttons and dialogs. -->
	<div id="mainContainer" class="container">
	  <!-- The row below contains the table's title. -->
	  <div class= "row">
	    <div class="col">
		  <h1>Service Client List</h1>
		</div>
	  </div>
	  
	  <!-- The row below contains the button to add another organization to the table. -->
	  <div class="row" style="padding-left:30px; padding-bottom:20px">	
	    <div id="addBtnContainer" class="col-sm-3 widget rounded">	
		  <span class="	fas fa-plus-circle"></span>
		  <input class="addBtn ui-button ui-widget" type="submit" value="Add Service Client" />	
		</div>		
	  </div>
	  
	  <!-- The row below contains the table of service clients. -->
 	  <div class="row"> 
	    <div class="col">
		  <div class="container ui-widget table-responsive">
		    <table id="comm_tbl" class="table ui-widget ui-widget-content table-striped table-bordered table-hover">
			  <thead>
			    <tr class = "ui-widget-header">
				  <th>ID</th>
				  <th>Title</th>
				  <th>Contact Name</th>
				  <th>Board Member</th>
				  <th>Category</th>
				  <th colspan='2'>Actions</th>
				</tr>
			  </thead>
			  <tbody id="sc_tbl_body">
			  	<#list clients as sc>
			    <tr id="scid-${sc.scid}">
				  <td name='sc_id'>${sc.scid!"UNKNOWN"}</td>
	        	  <td name='sc_title'>${sc.name!"UNKNOWN"}</td>
	        	  <td name='sc_contact_name'><a href="#"> ${sc.mainContact.firstName!"UNKNOWN"} ${sc.mainContact.lastName!"UNKNOWN"}</a></td>
	        	  <td name='sc_bm_name'>${sc.boardMember!"UNKNOWN"}</td>
	        	  <td name='sc_category'>${sc.category!"UNKNOWN"}</td>
				  <td> 
				    <button type="button" class="edit btn">
					<span class="fas fa-pencil-alt"></span> 
					  Edit
					</button>
				  </td>
				  <td>
				    <button type="button" class="del btn" onDelClick="${sc.scid?c}">
					<span class="fas fa-trash-alt"></span>  
					  Delete 
					</button>
				 </td>
				 </tr>
				 </#list>
			   </tbody>
			 </table>
		   </div>
		 </div> 
	   </div>
	  
	  <!-- The row below contains the button to add another service client to the table. -->
	  <div class="row" style="padding-left:30px">	
	    <div id="addBtnContainer" class="col-sm-3 widget rounded">
		  <span class="	fas fa-plus-circle"></span>
		  <input class="addBtn ui-button ui-corner-all ui-widget" type="submit" value="Add Service Client" />
		</div>
	  </div>
	 	  
	  	  <!-- The div below defines the delete dialog for deleting an service client which is hidden by JS and exposed by JQ. -->
	  <div id="delDlg" title="DELETE SELECTED ORGANIZATION" class="ui-widget delWid">
	  	<p id= "del_confirm">
	  	    <br><br>
	  	  <span id="delMsg1"></span>
			<br><br>
		  <span id="delMsg2"></span>
	    </p>
	  </div>
	  
	    <!-- The div below defines the add dialog for adding an service client which is hidden by JS and exposed by JQ. -->
	  <div id="addDlg" title="Add Service Organization" class="ui-widget delWid">
	  	<p id= "del_confirm">
	  	"Hello World!"
	  	    <br><br>
	  	  <span id="delMsg1"></span>
			<br><br>
		  <span id="delMsg2"></span>
	    </p>
	  </div>
	  
	  
<!-- JavaScript file that will allow us to use jquery widgets -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</@layout.stdpage>
