<#import "/main_layout.html" as layout />

<@layout.stdpage "Service Client Manager" "listStyle.css" "serviceclients/listClients.js">


	<!-- Holds the main elements of the page which include the pet table and its title
	     as well as the add buttons and dialogs. -->
	<div id="mainContainer" class="container">
	  <!-- The row below contains the table's title. -->
	  <div class= "row">
	    <div class="col">
		  <h1>Pet List</h1>
		</div>
	  </div>
	  
	  <!-- The row below contains the button to add another organization to the table. -->
	  <div class="row" style="padding-left:30px; padding-bottom:20px">	
	    <div id="addBtnContainer" class="col-sm-2 widget rounded">	
		  <span class="glyphicon glyphicon-plus"></span>
		  <input class="addBtn ui-button ui-widget addBtn" type="submit" value="Add Pet" />	
		</div>		
	  </div>
	  
	  <!-- The row below contains the table of pets. -->
 	  <div class="row"> 
	    <div class="col">
		  <div class="container ui-widget table-responsive">
		    <table id="comm_tbl" class="table ui-widget ui-widget-content table-striped table-bordered table-hover">
			  <thead>
			    <tr class = "ui-widget-header">
				  <th>ID</th>
				  <th>Title</th>
				  <th>Contact Name</th>
				  <th>Board Member</th>
				  <th>Category</th>
				  <th colspan='2'>Actions</th>
				</tr>
			  </thead>
			  <tbody id="pet_tbl_body">
			  	<#list clients as sc>
			    <tr id="scid-${sc.scid}">
				  <td name='pet_id'>0</td>
	        	  <td name='pet_title'>${sc.name!"UNKNOWN"}</td>
	        	  <td name='pet_contact_name'><a href="#"> ${sc.contactName!"UNKNOWN"}</a></td>
	        	  <td name='pet_bm_name'>${sc.boardMember!"UNKNOWN"}</td>
	        	  <td name='pet_category'>${sc.category!"UNKNOWN"}</td>
				  <td> 
				    <button type="button" class="edit btn">
					<span class="glyphicon glyphicon-pencil"></span> 
					  Edit
					</button>
				  </td>
				  <td>
				    <button type="button" class="del btn">
					<span class="glyphicon glyphicon-remove-sign"></span>  
					  Delete 
					</button>
				 </td>
				 </tr>
				 </#list>
			   </tbody>
			 </table>
		   </div>
		 </div> 
	   </div>
	  
	  <!-- The row below contains the button to add another pet to the table. -->
	  <div class="row" style="padding-left:30px">	
	    <div id="addBtnContainer" class="col-sm-2 widget rounded">
		  <span class="glyphicon glyphicon-plus"></span>
		  <input class="addBtn ui-button ui-corner-all ui-widget" type="submit" value="Add Pet" />
		</div>
	  </div>
	 	  
	  	  <!-- The div below defines the delete dialog for deleting an organization which is hidden by JS and exposed by JQ. -->
	  <div id="delDlg" title="DELETE SELECTED ORGANIZATION" class="ui-widget delWid">
	  	<p id= "del_confirm">
	  	    <br><br>
	  	  <span id="delMsg1"></span>
			<br><br>
		  <span id="delMsg2"></span>
	    </p>
	  </div>
	  
	   <!--  The div below defines the add dialog for adding an organization which is hidden by JS and exposed by JQ. -->
	  <div id="addDlg" title="ADD NEW PET" class="ui-widget">
	    <div class="container">
		  <div class="row">
		    <div class="form-group">
			  <label class="form-label" for="addDlg_petID">ID: </label>
			  <input id="addDlg_petID" class="form-control" type="text" placeholder="ID" autocomplete="off"/>
			</div>
		  </div>
		  <div class="row">
		    <div class="form-group">
			  <label class="form-label" for="addDlg_petTitle">Title</label>
			  <input id="addDlg_petTitle" class="form-control" type="text" placeholder="Title" autocomplete="off"/>
			</div>
		  </div>
		  <div class="row">
		    <div class="form-group">
			  <label class="form-label" for="addDlg_petContact">Contact Name</label>
			  <input id="addDlg_petContact" class="form-control" type="text" placeholder="Contact Name" autocomplete="off"/>
			</div>
		  </div>
		  <div class="row">
			<div class="form-group">
			  <label class="form-label" for="addDlg_petCategory">Category</label>
			  <input id="addDlg_petCategory" class="form-control" type="text" placeholder="Category" autocomplete = "off"/>
			</div>
		  </div>
	    </div>
	  </div>
	  
	   <!-- The div below defines the edit dialog for editing/updating an organization which is hidden by JS and exposed by JQ.
	    	Note: Can not change the ID of the organization. -->
	    <div id="editDlg" title="EDIT SELECTED PET" class="ui-widget">
	      <p>All form fields are required.</p>
	      <div class="container">
		    <div class="row">
			  <div class="form-group">
			    <label id="editID_lbl" class="form-label"  placeholder="0"></label>
			  </div>
		    </div>
		    <div class="row">
			  <div class="form-group">
			    <label class="form-label" for="editDlg_petTitle">Title</label>
				<input id="editDlg_petTitle" class="form-control" type="text" autocomplete="off"/>
			  </div>
		    </div>
		    <div class="row">
			  <div class="form-group">
				<label class="form-label" for="editDlg_petContact">Contact Name</label>
				<input id="editDlg_petContact" class="form-control" type="text" autocomplete="off"/>
			  </div>
		    </div>
		    <div class="row">
			  <div class="form-group">
				<label class="form-label" for="editDlg_petCategory">Category</label>
				<input id="editDlg_petCategory" class="form-control" type="text" autocomplete="off"/>
			  </div>
		    </div>
		  </div>
		</div>
		</div>

</@layout.stdpage>
