<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Sameeha Khaled</title>
</head>
<body>
<p>
<img src="/srv/images/about/sameeha.jpg" align="left" style="padding-right:50px; width:225px; height:250px;"/>
My name is ${name} and I'm ${age}. I'm a student at Austin College, my majors are ${major}. <br> Apart from being a student, 
I like to talk about astrology, take naps, and hang out with my friends. <br> My favorite color is ${color}, and my zodiac sign is ${zodiac}!<br>
</p>
</body>
</html>
