<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Kevin Miranda</title>
</head>
<body>
<p>
<img src="/srv/images/about/KevinMHSTemp.jpg" align="left" style="padding-right:50px; width:200px; height:300px"/>
</p>
<p>	
My name is ${name} and I'm a ${class} graduating from Austin College (hopefully) this May. I'm ${age} years old 
and ready to join the workforce in any way shape or form. I'm most interested in full stack web development but cyber 
security has always interested me. I'm a fan of both the indoors and outdoors and enjoy playing video games, fishing, hiking, and cooking.
</p>
</body>
</html>