<#import "/main_layout.html" as layout />

<@layout.stdpage "About Catalina Canizalez" >

<!-- Page Content -->
<div class="container-fluid">

	<table>
		<tbody>
			<tr>
				<td><img src="/srv/images/about/catHS.jpg" align="left"
					style="padding-right: 15px; width: 225px; height: 250px" /></td>
				<td>
					<p>
						My name is ${name} and I am a sophomore at Austin College this
						year. My major is ${major} and my minor is ${minor}. I
						am from San Antonio, Texas and I have 2 sisters and 3 dogs.
						Although I am from San Antonio, my family originates from 
						Sabinas, Coahuila, Mexico. Unfortunately for me, I don't speak spanish,
						which has made being able to communicate with most of my family hard.
						But one language we all speak is soccer. As stereotypical as this sounds, my family loves soccer,
						which is why I have played for 15 years of my life. I was actually able to play in college for 
						one year but unfortunately I've had too many injuries to play longer. Now I have more time to focus on school
						and my pets. I will say, I love animals, and my favorite is the ${animal}.
					</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</@layout.stdpage>
