<!-- modeled after Lydia House's code -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Nadia Hannon</title>
</head>
<body>
<p>
<img src="/srv/images/about/Nadia-Hannon.jpg" align="left" style="padding-right:50px; width:225px; height:250px"/>
 My name is Nadia Hannon, I am a junior at Austin College. I am majoring 
 in physics and art with minors in computer science and math. My hobbies include 
 woodworking, video games, and stained glass. I hope to go to graduate school 
 for mechanical engineering.
</p>
</body>
</html>