<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Catalina Canizalez</title>
</head>
<body>
<p>
<img src="/srv/images/about/catPic.jpg" align="left" style="padding-right:50px; width:225px; height:250px"/>
My name is ${name} and I am a sophomore at Austin College this year. My major is ${major}
and my minor is ${minor}. <br> I am from San Antonio, Texas and I have 2 sisters and 3 dogs. Although I am from San Antonio, my family originates from <br>
Sabinas, Coahuila, Mexico. My favorite color is ${color} and my favorite animal is a ${animal}.
</p>
</body>
</html>