<#import "/main_layout.html" as layout />

<@layout.stdpage "About AJ Pritchard" >


<!-- Page Content -->
<div class="container-fluid">
	<table>
		<tbody>
			<tr>
				<td><img src="/srv/images/about/AJProfessionalPhoto.jpg"
					align="left"
					style="padding-right: 15px; width: 225px; height: 250px" /></td>
				<td>
					<p>My name is ${name} and I am graduating as a ${sports} playing athlete at
						Austin College. I am a ${class} graduating from Austin College at
						${age} years old. I am majoring in ${major} and minoring in
						${minor} and I love the tools I can make with programming.</p>
		<h4>Where I'm From</h4>
		<p>
			I was born and raised in Auburn ${state}, and graduated from Auburn Riverside High School. 
			While growing up I enjoyed being a part of Wrestling, Baseball and Water Polo teams. 
			I have two younger brothers who are currently in high school, 
			and in the time I spent at Austin College I missed them very much.
			I have always enjoyed playing video games, sports, reading books and learning new things.
		</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</@layout.stdpage>
