<#import "/main_layout.html" as layout />

<@layout.stdpage "About Emma Driscoll" >

<!-- Page Content -->
<div class="container-fluid">

<table>
	<tbody>
		<tr>
			<td>
			<img src="/srv/images/about/EmmaHS.jpg" align="left" style="padding: 10px;"/>
			</td>
		<td>
			<p>
			My name is ${name} and I am a ${class}. I plan to major in ${major} and minor in ${minor}. I am from Austin, Texas. I live with my mom, dad, and 3 sisters.
			We currently have 2 cats and a dog. When I graduate I hope to find a job in Austin. My hobbies during quarantine include playing video games, watching anime, 
			and sleeping. When there isn't a pandemic going on I like to go kayaking, surfing, and hiking. My favorite animals are ${animal}, my favorite ${color}, and 
			my favorite type of music is ${music}.
			</p>
		</td>
		</tr>
	</tbody>
</table>

</div>

</@layout.stdpage>