<#import "/main_layout.html" as layout />

<@layout.stdpage "About Segun Adekunle" >

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>
	<img src="/srv/images/about/segunHS.jpg" width="200" height="300"></img>
	</p>
	<p>
		My name is is ${name} and I am ${class} and ${major} major  and a ${minor} minor in hopes of 
		becoming a software developer. I was born and raised in ${home}, after my parents 
		immigrated from Nigeria. One of my hobbies is ${hobby}, I have a YouTube channel 
		where I make highlight videos. I also hope to be a music video editor some day. Check out my channel 
		<a href="https://www.youtube.com/channel/UCsF6KanfMb7zRg0SDFyrB4w">here</a>! I hope you enjoy the app! Go Roos!
	</p>

</body>
</html>
</@layout.stdpage>
