<!DOCTYPE html>
<#import "/main_layout.html" as layout/>

<@layout.stdpage "About Conor Mackey" >
<html>
<head>
<meta charset="UTF-8">
<title>About Conor Mackey</title>
</head>
<body>
<p>
<img src="/srv/images/about/ConorMackey.JPG" align="left" style="padding-right:50px; width:300px; height:300px"/>
My name is ${name} and I go to school at Austin College. My major is ${major} 
and my minor is ${minor}.
<br>
I am originally from Evanston Illinois.
<br>
My dream is to one day have a job.
<br>
I like puzzles and I am a nice guy.
<br>
Thank you.
</p>
</body>
</html>
<!DOCTYPE html>
<#import "/main_layout.html" as layout/>

</@layout.stdpage>