<#import "/main_layout.html" as layout />

<@layout.stdpage title="About Michael Higgs" cssname="higgs.css" >

<!-- Page Content -->
<div class="container-fluid">

<table>
	<tbody>
		<tr>
			<td>
			<img src="/srv/images/about/MichaelHiggs.jpg" align="left" style="padding: 10px;"/>
			</td>
		<td>
			<p>
			While finishing his undergraduate and graduate work at Stanford University,  Michael worked for IBM’s Palo Alto Scientific Center in the STAR database research group and eventually left IBM to join Texas Instrument’s Semiconductor/Advanced Logic group.  Soon thereafter, he started his own software development and consulting business, serving an extensive list of clients around the world.  In 1987 he was called back to teaching and joined the Austin College faculty. His research interests include 3D graphics and Artificial Intelligence (Machine Learning).  He continues to develop software systems and consult in industry.  He currently serves as the Computer Science and Robotics sponsor.
			</p>
		</td>
		</tr>
	</tbody>
</table>

</div>

</@layout.stdpage>
