<!DOCTYPE html>
<#import "/main_layout.html" as layout />
<@layout.stdpage "About Us" >
<html>
<head>
<meta charset="UTF-8">
<title>About Us</title>
</head>

<body>

	<p>In the Spring of 2020, during the COVID-19 crisis, 12 students and one professor set out to create this app for the Austin College Service Station. We would like to thank the Service Station for working with us to create this for them. 
	This app was brought to you by the following people:
	<ul>
		<li><i><a href="about/Lydia">Lydia House</a></li>
		<li><i><a href="about/Segun">Segun Adekunle</a></li>
		<li><i><a href="about/Nadia">Nadia Hannon</a></li>
		<li><i><a href="about/Kevin">Kevin Miranda</a></li>
		<li><i><a href="about/Josyah">Josyah Morrison</a></li>
		<li><i><a href="about/Conor">Conor Mackey</a></i></li>
		<li><i><a href="about/Emma">Emma Driscoll</a></li>
		<li><i><a href="about/Catalina">Catalina Canizalez</a></li>
		<li><i><a href="about/Sameeha">Sameeha Khaled</a></li>
		<li><i><a href="about/AJ">AJ Pritchard</a></li>
		<li><i><a href="about/Hunter">Hunter Couturier</a></li>
		<li><i><a href="about/Min">MinSeob Shim</a></li>
		<li><i><a href="about/MHiggs">Michael Higgs</a></li>
	</ul>
	</p>

</body>
</html>
</@layout.stdpage>
