<#import "/main_layout.html" as layout />

<@layout.stdpage "About Catalina Canizalez" >
<!-- Page Content -->
<div class="container-fluid">

	<table>
		<tbody>
			<tr>
				<td><img src="/srv/images/about/catHS.jpg" align="left"
					style="padding-right: 15px; width: 225px; height: 250px" /></td>
				<td>
					<p>
						My name is ${name} and I am a sophomore at Austin College this
						year. My major is ${major} and my minor is ${minor}. <br> I
						am from San Antonio, Texas and I have 2 sisters and 3 dogs.
						Although I am from San Antonio, my family originates from <br>
						Sabinas, Coahuila, Mexico. My favorite color is ${color} and my
						favorite animal is a ${animal}.
					</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</@layout.stdpage>
