<#import "/main_layout.html" as layout />

<@layout.stdpage "About MinSeob Shim">

<!-- Page Content -->
<div class="container-fluid">

<table>
	<tbody>
		<tr>
			<td>
			<img src="/srv/images/about/MinSeobShim.jpg" align="left" style="padding: 10px;"/>
			</td>
		<td>
			<p>
			My name is ${name} and I am graduating from Austin College this semester.
			My major is ${major} and my minor is ${minor}. I am from ${country}.
			My family member is 5: my mom, dad, older brother, older sister who currently lives in Toronto, Canada, and me. 
			I hope to find a job in U.S. after graduation, or possibly somewhere in Canada or Japan.
			I like ${hobby} and I know how to play ${instruments}.
			</p>
		</td>
		</tr>
	</tbody>
</table>

</div>

</@layout.stdpage>