<#import "/main_layout.html" as layout />

@layout.stdpage "About Sameeha Khaled" >

<div class="container-fluid">

<table>
	<tbody>
		<tr>
			<td>
			<img src="/srv/images/about/sameeha.jpg" align="left" style="padding: 10px;"/>
			</td>
		<td>
			<p>
			My name is ${name} and I'm an Austin College student majoring in ${major}. Apart from being a student, I like to talk about astrology, plants, and taking naps. My favorite color is ${color}, and my zodiac sign is ${zodiac}.
			</p>
		</td>
		</tr>
	</tbody>
</table>

</div>

</@layout.stdpage>