<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p>
This app was brought to you the following:
<ul>
<li> <a href="about/Lydia">Lydia House</a> </li>
<li><a href= "about/Segun">Segun Adekunle</a></li>
<li> <a href="about/Nadia">Nadia Hannon</a> </li>
<li> <a href="about/Kevin">Kevin Miranda</a> </li>
<li> <a href="about/Emma">Emma Driscoll</a> </li>
<li> <a href="about/Sameeha">Sameeha Khaled</a> </li>
<li> <a href="about/AJ">AJ Pritchard</a> </li>
<li> <a href="about/Hunter">Hunter Couturier</a> </li>
<li> <a href="about/Min">MinSeob Shim</a> </li>
<li> <a href="about/MHiggs">Michael Higgs</a> </li>
</ul>
</p>

</body>
</html>