<#import "/main_layout.html" as layout />

<@layout.stdpage "About Segun Adekunle" >

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<img src="/srv/images/about/segunHS.jpg" width="200" height="300"></img>
	<p>My name is is Segun Adekunle and I am senior and computer
		science major in hopes of becoming a software developer. I was born
		and raised in Houston, after my parents immigrated from Nigeria. One of 
		my hobbies is video editing, I have a YouTube channel where I make highlight videos. 
		Check it out here! I hope you enjoy the app! Go Roos!</p>

</body>
</html>
</@layout.stdpage>
