<#import "/main_layout.html" as layout />

<@layout.stdpage "About Sameeha Khaled" "about/aboutSameehaStyle.css">

<div class="container-fluid">
 <h1> Sameeha Khaled</h1>
 <div class="row">
 	<div class="col-sm-4" id="picture-col">
 	  <img class="img-responsive" id= "headshot" src="/srv/images/about/sameeha.jpg" />
 	</div>
 	<div class="col-sm-6" id="bio-col">
 		<p>
		   My name is ${name} and I'm an Austin College student majoring in ${major}. Apart from being a student, I like to talk about astrology, plants, and taking naps. My favorite color is ${color}, and my zodiac sign is ${zodiac}.
		</p>
 	</div>
 </div>
</div>

</@layout.stdpage>