<#import "/main_layout.html" as layout />

<@layout.stdpage "About Lydia House" "about/aboutLydiaStyle.css" >

<!-- Page Content -->
<div class="container-fluid">

<div id="bio" class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-1">About</h1>
		</div>
	</div>
</div>
  
<hr class="col">
<hr class="col">

<div class="container">
	<div class="row ">
		<div class="col-8">
		<p>
				Hi! My name is <span style="font-weight: bold; font-size:21px">${name}</span> 
				and I am graduating from Austin College this semester. My major is ${major}
				and my minor is ${minor}. My plans for after graduation are to find a job somewhere in the Dallas area 
				and study for the GRE to get into graduate school.  My dream job is to work for the
				United States Department of Defense or NASA. 
		</p>
		<h4>A Little Back Story</h4>
		<p>
		I have been living in the Sherman area ever since I graduated high school back in 2015. Before coming to Sherman, I lived
		in the small town of Port Lavaca, Texas down near the Gulf of Mexico. My childhood years were spent in Washington state on Whidbey Island. 
		I am the youngest of four, all of whom still live in Washington. 
		</p>
		<h4>Free Time Activities</h4>
		<p>
		My hobbies include hiking, reading, and playing 
				video games, but my main hobby is ${hobby}. I have been taking ${hobby} on and off since 2010 but have 
				really committed to the sport in the last 4 years. I have competed in AOK tournaments and went to the Texas 
				State championships in 2017. This last summer I received my 2<sup>nd</sup> degree black belt, my top accomplishment in 
				life thus far. I now help instruct classes every ${workday} night.
		</p>
		</div>
		<div class="col-1">
			<img id="headshot" src="/srv/images/about/lydiaHS.jpg"/>
		</div>
	</div>
</div>
			 	

</div>

</@layout.stdpage>