<#import "/main_layout.html" as layout />

<@layout.stdpage "About Lydia House" "about/aboutLydiaStyle.css" >

<!-- Page Content -->
<div class="container-fluid">

<table>
	<tbody>
		<tr>
			<td>
				<img src="/srv/images/about/lydiaHS.jpg" align="left" style="padding-right:15px; width:225px; height:250px"/>
			</td>
			<td>
			 	<p>
				My name is ${name} and I am graduating from Austin College this semester. My major is ${major}
				and my minor is ${minor}. My plans for after graduation are to find a job somewhere in the Dallas area 
				and study for the GRE to get into graduate school. My hobbies include hiking, reading, and playing 
				video games, but my main hobby is ${hobby}. I have been taking ${hobby} on and off since 2010 but have 
				really committed to the sport in the last 4 years. I have competed in AOK tournaments and went to the Texas 
				State championships in 2017. This last summer I received my 2<sup>nd</sup> degree black belt, my top accomplishment in 
				life thus far. I now help instruct classes every ${workday} night. My dream job is to work for the
				United States Department of Defense or NASA. 
				</p>
			</td>
		</tr>
	</tbody>
</table>

</div>

</@layout.stdpage>