<!-- modeled after Lydia House's code -->
<#import "/main_layout.html" as layout />
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Nadia Hannon</title>
</head>
<body>
<p>
<img src="/srv/images/about/Nadia-Hannon.jpg" align="left" style="padding-right:50px; width:225px; height:250px"/>
 My name is ${name}, I am a ${class} at Austin College. ${majorMinor}. My hobbies include 
 ${hobby1}, ${hobby2}, and ${hobby3}. I hope to go to graduate school 
 for ${futureGoal}.
</p>
</body>
</html>