<#import "/main_layout.html" as layout />
<@layout.stdpage "Admin Home" "home.css">

<div id="mainContainer" class="container">
	<div class="row" style="padding-left: 20px; padding-bottom: 20px">
		<div class="col-md">
			<h1>Welcome, Admin</h1>
			<p>Please select the action you would like to take.</p>
		</div>
	</div>

	<!-- Layout of admin content must be decided -->
	<!-- layout inspired by mock up done by Lydia House -->

	<div class="container-fluid">
		<!-- Written by Nadia Hannon -->
		<div class="row justify-content-between">

			<a href="/srv/sc/list" class="btn btn-light"
				id= manageClients
				style="width: 48%; border-color: black;"> <i
				class='fas fa-dog'
				style="padding-right: 15px; font-size: 36px; color:#047cf1"></i> <b> Manage Service Clients</b>
				<p>Add, update, and delete service clients.</p>
			</a>

			<button type="button" class="btn btn-light"
				style="width: 48%; border-color: black;">
				<i class='fa fa-child' style="padding-right: 15px; font-size: 36px; color:black"></i>
				<b> Manage AC Groups</b>
				<p>Add, update, and delete AC groups.</p>
			</button>

			<a href="/srv/events" class="btn btn-light"
				style="width: 48%; border-color: black;">
				<i class='fas fa-calendar-alt'
					style="padding-right: 15px; font-size: 36px; color:#047cf1"></i> <b> Manage
					Events</b>
				<p>Add, update, and delete upcomming events.</p>
			</a>

			<button type="button" class="btn btn-light"
				style="width: 48%; border-color: black;">
				<i class='fa fa-edit' style="padding-right: 15px; font-size: 36px; color:black"></i>
				<b> Manage Event Type</b>
				<p>Add, update, and delete event types such as Great Day of Service or Janserve.</p>
			</button>

			<a href="/srv/home/admin/editBM" class="btn btn-light"
				style="width: 48%; border-color: black;"> <i
				class='fas fa-address-book'
				style="padding-right: 15px; font-size: 36px; color:#047cf1"></i> <b> Manage
					Board Members and Co-Chairs</b>
				<p>Add, update, and delete board members and co-chairs.</p>
			</a>

			<button type="button" class="btn btn-light"
				style="width: 48%; border-color: black;">
				<i class='fas fa-chart-bar'
					style="padding-right: 15px; font-size: 36px; color:black"></i> <b> Reports</b>
				<p>View, edit, and export reports.</p>
			</button>

		</div>
	</div>


</div>
</@layout.stdpage>
