<#import "/main_layout.html" as layout/>
<@layout.stdpage "Admin Home" "home.css">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<div id="mainContainer" class="container">
	<div class="row" style="padding-left:20px; padding-bottom:20px">
		<div class="col-md">
			<h1>Welcome, Admin</h1>
			<p>Please select the action you would like to take.</p>
		</div>
	</div>
	
	<!-- Layout of admin content must be decided -->
	
	<div class="container-fluid">
		<p><i>*admin actions here*</i></p>
	</div>
	
	
</div>
</@layout.stdpage>