<tr id="row${hrs.shid?c}">
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_id'>${hrs.shid!"UNKOWN"}</td>
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_srvName'>${hrs.servant.contact.firstName!"UNKOWN"}</td>
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_scName'>${hrs.serviceClient.name!"UNKOWN"}</td>
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_eventName'>${hrs.eventName.title!"UNKNOWN"}</td>
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_hrsServed'>${hrs.hours!"UNKNOWN"}</td>
	<td class='hrRow' onRowClick="${hrs.shid?c}" name='hrs_status'>${hrs.status!"UNKNOWN"}</td>

	<td><a class="btn edit" href="#"> <i
						class="icon-check-sign icon-large"></i> Approve
				</a> <a class="btn btn-danger del" href="#"> <i
						class="icon-trash icon-large"></i> Reject
				</a> <a class="btn edit" href="#"> <i class="icon-trash icon-large"></i>
						View
				</a>
				</td>
</tr>