<#import "/main_layout.html" as layout/>
<@layout.stdpage "Board Member Home" "home.css">

<div id="mainContainer" class="container">
	<div class="row" style="padding-left:20px; padding-bottom:20px">
		<div class="col-md">
			<h1>Welcome, Board Member</h1>
			<p>Please select the action you would like to take.</p>
		</div>
	</div>
	
	<!-- Layout of BM actions must be decided -->
	<!-- table title. -->
	<div class= "row" style="padding-left:20px; padding-bottom:20px">
		<div class="col">
			<h2>Assigned Pets</h2>
		</div>
	</div>
	
	<!-- Jira says this will hold a list of assigned pets, but the site map says it links to a 
	"my pets" page and a "hours" page. I'm following the site map for now. -->
	<div class= "row" style="padding-left:20px; padding-bottom:20px">
		<p><i><a href>My Pets</a></i>
		<br>
		<i><a href>Hours</a></i>
		</p>
	</div>
	
</div>
</@layout.stdpage>