<#import "/main_layout.html" as layout/>
<@layout.stdpage "Board Member Home" "home.css">

<div id="mainContainer" class="container">
	<div class="row" style="padding-left:20px; padding-bottom:20px">
		<div class="col-md">
			<h1>Welcome, Board Member</h1>
			<p>Please select the action you would like to take.</p>
		</div>
	</div>
	
	<!-- Layout of BM content must be decided -->
	
	<!-- table title. -->
	<div class= "row" style="padding-left:20px; padding-bottom:20px">
		<div class="col">
			<h2>Assigned Pets</h2>
		</div>
	</div>
	
	<!-- how will the list of assigned pets be displayed? in a table? -->
	<div id="assignedPetList" class="container-fluid">
		<p><i>*list of assigned pets*</i></p>
	</div>
	
</div>
</@layout.stdpage>