<#import "/main_layout.html" as layout />

<@layout.stdpage "Home" "servantHome.css" "home.js">

<!-- The CSS file for this page makes everything grey and dull looking because nothing is functional, all buttons are dead-->
<div class="container servant-profile">

		<div class="row" style="padding-bottom: 20px">
			<div class="col-md-5">
				<img id="profilePic" src="/srv/images/defaultProfilePicture.png" style="width:245px; height: 175px"/>
			</div>

			<div class="col-md-6">
				<div class="profile-head">
					<div class="row">
						<div class="col">
							<h5>${name!"UNKOWN NAME"}</h5>
						</div>	
						<div class="col">
							<button id="editProfileBtn" class="btn btn-md edit float-right"  onclick="onEditProfileClick()">
							<span class="fas fa-pencil-alt"></span> Edit Profile
							</button>
						</div>
					</div>
				
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="home-tab"
							data-toggle="tab" href="#home" role="tab" aria-controls="home"
							aria-selected="true">My Info</a></li>

					</ul>
				</div>
				<div class="row" style="padding-top:20px; padding-left:35px">
					<div class="col">
						<h6>Approved&#xA0;&#xA0;<span class="badge badge-success">${approvedHrs!0}</span></h6>
					</div>
					<div class="col">
						<h6>Pending&#xA0;&#xA0;<span class="badge badge-info">${pendingHrs!0}</span></h6>
					</div>
					<div class="col">
						<h6>Rejected&#xA0;&#xA0;<span class="badge badge-danger">${rejectedHrs!0}</span></h6>
					</div>
				</div>
				
			</div>
		
		</div>
		<div class="row">
			<div class="col-md-5">


				<!-- Contains list of announcements -->
				<h4 style="padding-top:10px">Upcoming Events</h4>
				<div id="annListCol" class="col-sm">
					<div id="announceList" class="list-group" style="padding-top:10px">
						<#if events??>
						<#list events as upcoming> 
						<!--  only show events with volunteers still needed -->
						<#if upcoming.rsvpVolunteerHours &lt; upcoming.neededVolunteerHours>
						 <a class="list-group-item list-group-item-action btnEvView" eid="${upcoming.eid?c}">
							${upcoming.title!"UNKNOWN EVENT TITLE"} ${upcoming.date?date}
							<button id="rsvpBtn" class="btn btn-md edit float-right" type="button" onclick="onSignUpClick()">
							<span class="far fa-calendar-check "></span> RSVP
							</button>
							
						</#if> 
						</a> 
						</#list>
						</#if>
					</div>
					<div id="seeAllCol" class="col-sm" style="padding-top:5px; padding-bottom: 20px">
						<a id="seeAllLink" href="/srv/events">See All</a>
					</div>
					
				</div>
			</div>
			<div class="col-md-7">
				<div class="tab-content profile-tab" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel"
						aria-labelledby="home-tab">
						<div class="container-tableBackground">
							<!-- container thats creating a table that will hold our data-->
							<div class="container">
								<div class="row">
									<table class="table table-bordered">
										<thead>
											<tr class="table-dark text-dark">
												<th>Semester's Total Hours Served</th>
												<th>${semTot}</th>
											</tr>

										</thead>
									</table>
								</div>
							</div>
						</div>
						<div></div>
						<div class="row">
							<div class="col-md-6">
								<label><b>UserID:</b></label>
							</div>
							<div class="col-md-6">
								<p>${userid}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label><b>Name:</b></label>
							</div>
							<div class="col-md-6">
								<p>${name!"UNKOWN NAME"}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label><b>Email:</b></label>
							</div>
							<div class="col-md-6">
								<p>${email!"UNKNOWN EMAIL"}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label><b>Primary Phone Number:</b></label>
							</div>
							<div class="col-md-6">
								<p>${primaryPhone!"UNKNOWN PRIMARY PHONE NUMBER"}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label><b>Expected Graduation Year:</b></label>
							</div>
							<div class="col-md-6">
								<p>${gradYear?c!"UNKNOWN GRAD YEAR"}</p>
							</div>
						</div>
						<#if affiliation??>
						<div class="row">
							<div class="col-md-6">
								<label><b>Affiliation:</b></label>
							</div>
							<div class="col-md-6">
								<p>${affiliation.shortName!"UNKNOWN AFF NAME"}</p>
							</div>
						</div>
						</#if>
						<div class="row">
							<div class="col-md-6">
								<label><b>Do you have a car?</b></label>
							</div>
							<div class="col-md-6">
								<p>${hasCar?string('Yes', 'No')}</p>
							</div>
						</div>
						<#if hasCar>
						<div class="row">
							<div class="col-md-6">
								<label><b>Car Capacity:</b></label>
							</div>
							<div class="col-md-6">
								<p>${capacity!"UNKNOWN"}</p>
							</div>
						</div>
						</#if>
					</div>
				</div>
			</div>
		</div>

</div>

</@layout.stdpage>
