<!-- import macro template -->
<#import "/main_layout.html" as layout />
<@layout.stdpage "Welcome" "srvStyle.css" "icons/all.js">

	<!-- Container with title, image, and about section -->
	
	<div id="welcomeElements" class="container-fluid">
		<div class="row">
		<!-- A column for the heading and text which stacks on screens less than 576px -->
			<div class="col-sm" id="welcome-text">
			<!-- Service Station heading -->
			  <h1> Service Station </h1>
			  <!-- Row for text -->
		      <div class="row">
	  			<div id="spotlightCol" class="col-sm text-center">
	  				<img id="spotlightImg" alt="Service Spotlight" src="https://previews.123rf.com/images/annaavdeeva/annaavdeeva1810/annaavdeeva181000027/110738127-a-big-water-splash.jpg" class="rounded">
	  				<p id="spotlightDesc">Welcome to the Austin College Service Station! We help you help others. </p>
	  			</div>
	  		  </div>  
			</div>
			<!-- Column for announcement elements; will stack on screens less than 576px -->
			<div class="col-sm" id="announcements-col">
				<!-- A container that contains the announcement elements -->
				<div id="announcementElements" class="container-fluid">	
				<!-- The row below contains the announcement title, aligned at start-->
	  			<div class="row align-items-start"> 
	  				<div id="announceTitle" class="col-sm">
	  			<h1>Announcements</h1>
	  			<hr class=".col-md-11-auto">
	  		</div>
	  	</div>
	  		
	  		<!-- Contains list of announcements -->
	  		<div id="annListCol" class="col-sm">
	  			<div id="announceList" class="list-group">
	  				<!-- Links -->
	  			<a href="#" class="list-group-item list-group-item-action ">Habitat for Humanity Build Next Saturday</a>
	  			<a href="#" class="list-group-item list-group-item-action ">Meals on Wheels Event - March 17th</a>
	  			<a href="#" class="list-group-item list-group-item-action ">Lake Texoma Cleanup - March 28th</a>
	  			<a href="#" class="list-group-item list-group-item-action ">Sherman Animal Shelter Volunteers</a>
	  			<a href="#" class="list-group-item list-group-item-action ">Crisis Center Volunteers</a>
	  		</div>
	  		<div id="seeAllCol" class="col-sm">
	  			<a id="seeAllLink" href="#">See All</a>
	  		</div>
	  		</div>
	  		
	  	</div>
			
			
		</div>
		</div>
	</div>
	
	
	
	<!-- A container that contains the find service opportunity elements -->
	<div id="findOpElements" class="container-fluid">
		<!-- The row below contains the announcement title-->
	  	<div class="row"> 
	  		<div id="findOpTitle" class=".col-sm">
	  			<h1>Find Service Opportunity</h1>
	  			<hr class=".col-sm-11">
	  		</div>
	  	</div>	
	  	<!-- Row containing the types of service opportunities -->
	  	<div id="rowIcons" class="row opIcons justify-content-between">
			<!-- Animal icon -->
	  		<div class=".col-sm-1">
	  			<a href="#" class="dot">
	  				<i class='fas fa-paw fa-3x' style="vertical-align: middle;"></i>
	  			</a>
	  			<div class="opLabel">
	  				<a href="#">Animals</a> 
	  			</div>
	  		</div>
	  		<!-- Arts & culture icon -->
	  		<div class=".col-sm-1">
	  			<a href="#" class="dot">
	  				<i class='fas fa-music fa-3x' style="vertical-align: middle;"></i>
	  			</a>
	  			<div class="opLabel">
	  				<a href="#">Arts & Culture</a> 
	  			</div>
	  		</div>
	  		<!-- Education icon -->
	  		<div class=".col-sm-1">
	  			<a href="#" class="dot">
	  				<i class='fas fa-graduation-cap fa-3x' style="vertical-align: middle;"></i>
	  			</a>
	  			<div class="opLabel">
	  				<a href="#">Education</a> 
	  			</div>
	  		</div>
	  		<!-- Health & Medicine icon -->
	  		<div class=".col-sm-1">
	  			<a href="#" class="dot">
	  				<i class='fas fa-stethoscope fa-3x' style="vertical-align: middle;"></i>
	  			</a>
	  			<div class="opLabel">
	  				<a href="#">Health & Medicine</a> 
	  			</div>
	  		</div>
	  		<!-- More icon -->
	  		<div class=".col-sm-1">
	  			<a href="#" class="dot">
	  				<i class='fas fa-ellipsis-h fa-3x' style="vertical-align: middle;"></i>
	  			</a>
	  			<div class="opLabel">
	  				<a href="#">More</a> 
	  			</div>
	  		</div>
	  	</div>
	</div>
	
		
</@layout.stdpage>